@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Marco Legal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h2>Marco Legal</h2>
                    </div>
                    <!--<div class="banner-main-desc">
        <p>ASPECTOS CLAVE SOBRE EL MÓDULO</p>

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <p>
                    Ley N°1535/1999 de Administración Financiera del Estado con sus modificaciones vigentes, como lo establece en sus principios generales: “Esta ley regula la administración financiera del Estado, que comprende el conjunto de sistemas, las normas básicas y los procedimientos administrativos a los que se ajustarán sus distintos organismos y dependencias para programar, gestionar, registrar, controlar y evaluar los ingresos y el destino de los fondos públicos”<br /><br />
                    Decreto N° 8127/2000 «Por el cual se establecen las disposiciones legales y administrativas que reglamentan la implementación de la Ley N° 1535/99, “De Administración Financiera del Estado”, y el funcionamiento del Sistema Integrado de Administración Financiera-SIAF».<br /><br />
                    Ley N°s 6469/2020 y 6672/2021« Que aprueban el Presupuesto General de la Nación para los ejercicios fiscales 2020 y 2021».<br/><br />
                    Decretos N°s 3264/2020 y 4778/2021 «Por el cual se reglamentan las leyes, que aprueban el Presupuesto General de la Nación para los Ejercicios Fiscales 2020 y 2021».<br /><br />
                    Ley N° 6620/2020 «Que dispone la implementación gradual del Presupuesto por Resultados».<br /><br />

                    Resolución M.H. N° 212/2019 “Por la cual se aprueba la «Guía metodológica para el diseño y formulación de programas presupuestarios», con enfoque de resultados y horizonte de mediano plazo, en el marco de la implementación del Sistema de Gestión para Resultados basado en el Presupuesto del Sector Publico”.<br /><br />

                    La Resolución A/RES/70/1, del 25 de setiembre de 2015, la Asamblea General de las Naciones Unidas adoptó el documento titulado «Transformando el Mundo: La Agenda 2030 para el Desarrollo Sostenible».<br /><br />

                    Decreto N°2794/2014, Por el cual se aprueba el Plan Nacional de Desarrollo Paraguay 2030, elaborado bajo la coordinación de la Secretaría Técnica de Planificación del Desarrollo Económico y Social de la Presidencia de la República con aprobación del Equipo Económico Nacional y el Equipo Ejecutivo del Gabinete Social de la Presidencia de la República.<br /><br />
                </p>

            </div>

    </div>
</section>
<!--<section class="section section-light-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Visión incremental</h2>
                <p>Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. </p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">1</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">2</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">3</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>¿Cómo pueden participar los ciudadanos?</h2>
                <p>Nulla facilisi. Etiam at sapien id arcu rhoncus laoreet. Nulla non tristique urna. Vivamus finibus faucibus justo, mollis sodales eros varius sed. Suspendisse sapien sem, consectetur posuere venenatis eget, iaculis eget nisl. Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. Nulla ultrices lacinia neque, eget molestie purus placerat id. Ut suscipit mauris in dui lobortis, ut varius nibh aliquet. Ut sollicitudin sollicitudin est, non tempus quam cursus sed. Sed mollis pulvinar lacus, a viverra felis tempor a. Vestibulum congue mollis felis nec pharetra. Nam a arcu sed neque iaculis hendrerit.</p>
            </div>
        </div>

    </div>
</section>-->
@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        //Muestra las preguntas de la primera categoria
        var c = document.getElementsByClassName("categoriapregunta");
        id = "pregunta " + c[0].id;
        Mostrar("pregunta", id)
        //Muestra las palabras del glosario de la primera letra
        Mostrar("palabra", "palabra A")
***REMOVED***);

    $(document).on('click', '.categoriapregunta', function (e) {
        id = "pregunta " + this.id;
        Mostrar('pregunta', id);

***REMOVED***);

    $(document).on('click', '.btn-section', function (e) {
        id = "sect-tab " + this.id;
        Mostrar('sect-tab', id);

***REMOVED***);


    $(document).on('click', '.indice', function (e) {
        id = "palabra " + this.id;
        Mostrar('palabra', id);

***REMOVED***);
    function Mostrar(ocultar, mostrar) {
        var y = document.getElementsByClassName(ocultar);
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.display = "none";
    ***REMOVED***
        var x = document.getElementsByClassName(mostrar);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "block";
    ***REMOVED***
***REMOVED***
</script>
