@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***
<!--MAIN BANNER-->
<section class="banner-main-asc">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Articulación Plan Presupuesto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Articulación Plan Presupuesto</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>
                            La articulación entre el presupuesto y la planificación es el producto de un proceso de interacción política y técnica, que equilibra las tareas coyunturales con las acciones destinadas al largo plazo.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-alice">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading heading-center">
                    <h2 class="mb-3">¿Cuáles son los beneficios resultantes de la articulación entre la planificación y el presupuesto</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">01</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Contribuye</span>
                            <p>a generar solidez en las acciones de gobierno.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">02</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Mejora</span>
                            <p>la distribución de los recursos públicos según prioridades.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">03</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Coordina</span>
                            <p>las acciones de los distintos organismos públicos.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">04</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Facilita</span>
                            <p>la coordinación para el mejoramiento del desempeño de los administradores públicos.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">05</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Genera</span>
                            <p>instrumentos de medición para el logro de los resultados.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin benefits item -->
                <div class="advantages-item">
                    <div class="advantages-item-count">06</div>
                    <div class="advantages-item-info">
                        <div class="advantages-item-desc">
                            <span class="h4">Propicia</span>
                            <p>la entrega eficiente de bienes y servicios.</p>
                        </div>
                    </div>
                </div><!-- End benefits item -->
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2>¿Cómo se operativiza la articulación entre el Plan – Presupuesto?</h2>
            </div>
            <!--TESTING INFO-->
            <div class="wrap-timeline">
                <div class="row news-timeline">
                    <div class="col-xl-4 col-lg-5 offset-xl-1 col-12 news-timeline-item-left">
                        <!-- Begin news item -->
                        <article class="news-item item-style">
                            <a class="news-item-img">
                                <img data-src="/img/ic-s1.svg" class="lazy img-fluid" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                            </a>
                            <div class="news-item-info">
                                <div class="news-item-date"><span class="Bignumber">1</span></div>
                                <h4 class="news-item-heading item-heading">
                                    Integración
                                </h4>
                                <div class="news-item-desc">
                                    <p>Cada Institución cuenta con <b>planes de corto y mediano plazo</b> alineados al Plan Nacional de Desarrollo y a los Objetivos de Desarrollo Sostenible. </p>
                                </div>
                            </div>
                        </article><!-- End news item -->
                    </div>
                    <div class="col-xl-4 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                        <!-- Begin news item -->
                        <article class="news-item item-style">
                            <a class="news-item-img">
                                <img data-src="/img/ic-s2.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                            </a>
                            <div class="news-item-info">
                                <div class="news-item-date"><span class="Bignumber">2</span></div>
                                <h4 class="news-item-heading item-heading">
                                    Identificación
                                </h4>
                                <div class="news-item-desc">
                                    <p>En los <b>planes</b> se identifican los problemas a resolver, los resultados esperados y las acciones y servicios a ser entregados por cada Institución conforme a los objetivos propuestos. </p>
                                </div>
                            </div>
                        </article><!-- End news item -->
                    </div>
                    <div class="col-xl-4 col-lg-5 offset-xl-1 col-12 news-timeline-item-left">
                        <!-- Begin news item -->
                        <article class="news-item item-style">
                            <a class="news-item-img">
                                <img data-src="/img/ic-s3.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                            </a>
                            <div class="news-item-info">
                                <div class="news-item-date"><span class="Bignumber">3</span></div>
                                <h4 class="news-item-heading item-heading">
                                    Asignación de recursos
                                </h4>
                                <div class="news-item-desc">
                                    <p>Posteriormente se pasa al <b>presupuesto</b>, mediante el cual se asignan los recursos, que precisa la institución para alcanzar los resultados. </p>
                                </div>
                            </div>
                        </article><!-- End news item -->
                    </div>
                    <div class="col-xl-4 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                        <!-- Begin news item -->
                        <article class="news-item item-style">
                            <a class="news-item-img">
                                <img data-src="/img/ic-s4.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                            </a>
                            <div class="news-item-info">
                                <div class="news-item-date"><span class="Bignumber">4</span></div>
                                <h4 class="news-item-heading item-heading">
                                    Gestión
                                </h4>
                                <div class="news-item-desc">
                                    <p>El siguiente eslabón es <b>gestionar los recursos</b>, mediante los cuales cada institución produce bienes y servicios (programas/actividades presupuestarias) cada año; que, consumidos por la ciudadanía, generan una serie de resultados que permiten alcanzar los Objetivos de corto, mediano y largo Plazo.</p>
                                </div>
                            </div>
                        </article><!-- End news item -->
                    </div>
                    <div class="col-xl-4 col-lg-5 offset-xl-1 col-12 news-timeline-item-left">
                        <!-- Begin news item -->
                        <article class="news-item item-style">
                            <a class="news-item-img">
                                <img data-src="/img/ic-s5.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                            </a>
                            <div class="news-item-info">
                                <div class="news-item-date"><span class="Bignumber">5</span></div>
                                <h4 class="news-item-heading item-heading">
                                    Seguimiento
                                </h4>
                                <div class="news-item-desc">
                                    <p>Finalmente se implementan mecanismos de seguimiento y de evaluación con los cuales se verifica el nivel de avance de los resultados esperados para mejorar la eficiencia y efectividad de la Gestión Pública.</p>
                                </div>
                            </div>
                        </article><!-- End news item -->
                    </div>
                </div>
            </div>
        </div>



    </div>

</section>
<section class="section gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading heading-center">
                    <h2 class="mb-3">
                        Orientación del gasto en función a las directrices estratégicas del Gobierno.<br />
                        Articulación Plan Presupuesto.
                    </h2>
                </div>
            </div>
            <div class="col-lg-8 text-center">
                <img class="img-fluid" src="../img/componentes.jpg" alt="componentes" />
            </div>

        </div>
    </div>
</section>

<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../ProcesoPresupuesto" class="py-5 mb-5 px-0">
                        <div class="h3">El Proceso Presupuestario <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                    <a href="../ProcesoPlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Proceso de la Planificación Nacional<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5 ">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.hacienda.gov.py/web-hacienda/index.php" target="_blank" rel="noopener" >
                        <img class="img-fluid cardimg" src="../img/logoHaciendaP.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                    <a href="https://www.stp.gov.py/v1/" target="_blank" rel="noopener" >
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Los presupuestos de las instituciones</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
***REMOVED***);


    window.onscroll = function () { myFunction() ***REMOVED***;

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
    ***REMOVED*** else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
    ***REMOVED***
***REMOVED***
</script>












