@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    
</head>
<!--MAIN BANNER-->
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Inversiones Prioritarias del Gobierno</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Inversiones Prioritarias del Gobierno</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>
                            Las prioridades del Gobierno Nacional para el Presupuesto General de la Nación 2022 establecidas para el cumplimiento del PND 2030, se enfocan en los siguientes aspectos:
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_educacion.svg" /></div>
                            <div class="col-7"><h6>Educación para<br /> la Gente</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Creacion.svg" /></div>
                            <div class="col-7"><h6>Diseño del Plan Nacional de Transformación Educativa 2030 y Hoja de Ruta 2020 – 2023.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Clase.svg" /></div>
                            <div class="col-7"><h6>Implementación de Tecnología de la Información y Comunicación en Educación.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Camara.svg" /></div>
                            <div class="col-7"><h6>Seguridad para la gente</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Seguridad.svg" /></div>
                            <div class="col-7"><h6>Lucha contra el narcotráfico y el crimen organizado.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Trabajo.svg" /></div>
                            <div class="col-7"><h6>Empleo para la gente.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Trabajador.svg" /></div>
                            <div class="col-7"><h6>Formalización del Empleo.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Salud.svg" /></div>
                            <div class="col-7"><h6> Salud de calidad al alcance de la gente.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Unidad.svg" /></div>
                            <div class="col-7"><h6>Construcción y Renovación de Unidades de Salud Familiar.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow border-0 h-100">
                    <div class="card-body card-mh">
                        <div class="row justify-content-center">
                            <div class="col-3"><img src="./img/svg-icons/Ico_Medico.svg" /></div>
                            <div class="col-7"><h6>Mejoramiento de la atención médica y gestión del manejo de medicamentos en la red pública a través de la incorporación de tecnología de la información y comunicaciones.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../ProcesoPresupuesto" class="py-5 mb-5 px-0">
                        <div class="h3">El Proceso Presupuestario <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.hacienda.gov.py/web-hacienda/index.php" target="_blank">
                        <img class="img-fluid" src="../img/LogoHaciendaB.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Los presupuestos de las instituciones</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>












