@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Plan de Desarrollo Territorial</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Plan de Desarrollo Territorial</h2>
                    </div>
                    <div class="banner-main-desc">
                        <!--<p>La <b>STP</b> impulsa el proceso de la planificación en sus diferentes ámbitos junto con las instituciones del Estado integrando los lineamientos estratégicos establecidos en el Plan Nacional de Desarrollo, prioridades del Gobierno y Objetivos de Desarrollo Sostenible.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#s0">
                <span class="ic-shortcut"><i class="material-icons md-24">description</i></span>
                <span class="text-btn">Concepto</span>
            </a>
            <a class="btn-section" href="#s1">
                <span class="ic-shortcut"><i class="material-icons md-24">grid_view</i></span>
                <span class="text-btn">Componentes</span>
            </a>
            <a class="btn-section" href="#s2">
                <span class="ic-shortcut"><i class="material-icons md-24">topic</i></span>
                <span class="text-btn">Marco Legal</span>
            </a>

        </div>
    </div>

</section>
<!--1.Qué es el Presupuesto General de la Nación-->
<section class="section" id="s0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="mb-3">Concepto</h2>
                    <div class="section-subheading">
                        <p>
                            La planificación del desarrollo territorial se realiza considerando el desarrollo como un proceso de construcción participativa y dinámica, en el cual se entrelazan las dimensiones económica-productiva, político-institucional, social, cultural y ambiental de los territorios, en función de políticas públicas concertadas y del esfuerzo mancomunado entre las diversas organizaciones de la sociedad civil e instancias públicas y nacionales.</br></br>
                            Estos planes no solo buscan lograr una mejor calidad de vida para la comunidad local, sino también aportar al desarrollo del país mediante su vinculación al Plan Nacional de Desarrollo 2030.</br></br>
                        </p>
                        <p class="text-center">
                            <img src="img\planesterritoriales.jpg" />
                        </p>
                        </br></br>
                        <p>
                            El ordenamiento y desarrollo territorial en el PND2030 es una de las líneas transversales que cuenta con objetivos estratégicos en los 4 ejes: Reducción de la pobreza y desarrollo social; Crecimiento económico inclusivo; Proyección de Paraguay en el mundo; y, Fortalecimiento político institucional.</br></br>
                        </p>
                        <p class="text-center">
                            <img src="img\planesterritoriales2.jpg" />
                        </p>
                        </br></br>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--2. Perspectiva de crecimiento de Paraguay-->
<section class="section gray-bg" id="s1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Componentes de la Planificación del Desarrollo Territorial</h2>
                </div>
                <div class="preBody">
                    <p>
                        Para lograr el desarrollo armónico del territorio se trabaja con dos instrumentos de planificación.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Plan de Desarrollo Municipal Sustentable</h5></br>
                            <p>
                                Define los objetivos, líneas estratégicas, programas y proyectos en los ámbitos social, económico, ambiental, institucional y de infraestructura orientados a lograr la equidad social, el crecimiento económico y la sustentabilidad ecológica en el municipio</br></br>
                                Es un instrumento técnico y de gestión municipal que contiene un plan social, plan ambiental y plan económico elaborado de manera participativa con los ciudadanos y actores locales, para el logro de objetivos comunes de desarrollo, que en conjunto con otros instrumentos de planificación permite conciliar las políticas nacionales con los intereses locales.</br></br>


                            </p>
                        </div>
                        <div class="col-md-6">
                            <h5>Plan de Desarrollo Municipal Sustentable</h5></br>
                            <p>
                                Define los objetivos y estrategias territoriales para orientar el uso y ocupación del territorio en el área urbana y rural del municipio.<br /><br />
                                Los POUT son instrumentos técnicos para la gestión del territorio, el cual está orientado a mejorar las condiciones de habitabilidad, competitividad y sustentabilidad ambiental, que le permitirá a los municipios guiar el proceso de ocupación y transformación del territorio hacia un municipio más sustentable, así como orientar el accionar de los actores locales (empresarios, inmobiliarias, constructoras, ciudadanos etc.) y de los distintos niveles de gobierno (municipalidad, gobernación, entes del gobierno central) en función a un modelo urbano-territorial sustentable. Por otro lado, fortalece la descentralización municipal a través de la toma de decisiones territoriales y optimiza las acciones e inversiones públicas (al identificar las localidades donde existe mayor demanda de determinados servicios). Por último, protege los ecosistemas y recursos naturales y establece reglas claras para todos los actores que intervienen en el territorio.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--3. Principales variables macroeconómicas-->
<section class="section" id="s2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Marco legal específico</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="preBody">
                    <p>
                        <strong>Ley 3966/2010 “Orgánica Municipal”</strong>, TÍTULO DÉCIMO, DE LA PLANIFICACIÓN Y ORDENAMIENTO TERRITORIAL DEL MUNICIPIO CAPÍTULO I, artículos 225 y 226 que define el Plan de Desarrollo Municipal Sustentable y el Plan de Ordenamiento Urbano y Territorial, su finalidad, contenido mínimo y la vinculación entre ambos instrumentos.<br /><br />
                        <strong>La ley 426/1994 “Orgánica Departamental”</strong>, TITULO III, DEL GOBIERNO DEPARTAMENTAL, Deberes y atribuciones, articulo 16 que define la obligatoriedad de coordinar los planes departamentales con el Plan Nacional de Desarrollo y asegurar la congruencia entre políticas y planes nacionales con los planes territoriales.<br /><br />
                        Además, en el TITULO IV, DEL GOBERNADOR, Deberes y atribuciones, artículo 17 y TITULO V, DE LA JUNTA DEPARTAMENTAL, Deberes y atribuciones, artículo 20 establecen los mecanismos de elaboración y aprobación de este instrumento.<br /><br />
                        <strong>Constitución Nacional, artículo 163</strong>, que establece la competencia del gobierno departamental en la elaboración del Plan Departamental y la obligación de coordinar con el Plan Nacional de Desarrollo<br /><br />


</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Plan Nacional de Desarollo (PND) <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Los presupuestos de las instituciones</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!-- Call to action-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>
