@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Plan Estratégico Institucional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Plan Estratégico Institucional</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>Instrumento de diagnóstico, análisis, reflexión y toma de decisiones colectivas, en torno del quehacer actual y al camino que deben recorrer en el futuro las instituciones en el mediano plazo; permite situarla en términos de su ambiente determinando su misión, visión, valores, objetivos y estrategias, para lograr sus fines y propósitos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <!--<div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#s0">
                <span class="ic-shortcut"><i class="material-icons md-24">view_column</i></span>
                <span class="text-btn">Etapas</span>
            </a>
            <a class="btn-section" href="#s1">
                <span class="ic-shortcut"><i class="material-icons md-24">grid_view</i></span>
                <span class="text-btn">Tipos de Planes</span>
            </a>
            <a class="btn-section" href="#s2">
                <span class="ic-shortcut"><i class="material-icons md-24">topic</i></span>
                <span class="text-btn">Plan Operativo Institucional</span>
            </a>

        </div>
    </div>-->

</section>

<!--OBJETIVO ESTRATEGICO-->
<!--1.Qué es el Presupuesto General de la Nación-->
<section class="section" id="Presupuesto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row gy-2">
                    <div class="col-lg-4">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>¿Qué es la Planificación Estratégica?</h4>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i> <p><strong>Herramienta de gestión</strong> para apoyar la toma de decisiones de las organizaciones en torno a <strong>su función actual y futura</strong>, proponiendo un <strong>curso de acción</strong> para la consecución de los <strong>objetivos organizacionales</strong>.</p></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><p>Contribuye a lograr mayor eficiencia, eficacia y calidad en la provisión de bienes y servicios -<strong>Generación de valor público</strong></p></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><p>Permite <strong>identificar prioridades y asignación de recursos</strong> en un contexto de cambios y altas demandas.<br /><br /></p></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><p><strong>Fija los límites</strong> dentro de los cuales tiene lugar el control y evaluación de gestión.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Importancia de la Planificación Estratégica</h4>
                                <p>
                                    La planificación estratégica es importante para una organización porque proporciona un sentido de dirección y describe objetivos medibles. Además, es una herramienta útil para orientar las decisiones cotidianas y también para evaluar el progreso y cambiar los enfoques al avanzar. <strong>Ayuda a formular mejores estrategias utilizando un enfoque lógico y sistemático.</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Tres Preguntas que Responde la Planificación Estratégica </h4>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i> <p><strong>¿Dónde estamos hoy?</strong><br /> Análisis de la Situación, Análisis del Entorno,</p></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i> <p><strong>¿Dónde queremos ir?</strong><br /> Objetivos y Metas</p></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i> <p> <strong>¿Cómo podemos llegar a donde <br /> queremos ir? </strong><br />Diseñar las Estrategias apropiadas<br /><br /></p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--2. Perspectiva de crecimiento de Paraguay-->
<section class="section gray-bg" id="Crecimiento">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>El Proceso De Planificación Estratégica Comprende 4 Etapas</h2>
                </div>
                <div class="preBody">
                    <div class="col-lg-12 gy-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cardR shadow border-0 h-100">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a href="#filo">
                                                <img src="img/svg-icons/Ico_filo.svg" />
                                        </div>
                                        <br />
                                        <h4 class="text-center">Filosófica</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cardR shadow border-0 h-100">
                                    <div class="card-body">
                                        <a href="#ana">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_ana.svg" />
                                            </div>
                                            <br />
                                            <h4 class="text-center">Analitíca</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cardR shadow border-0 h-100">
                                    <div class="card-body">
                                        <a href="#opera">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_opera.svg" />
                                            </div>
                                            <br />
                                            <h4 class="text-center">Operacional</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cardR shadow border-0 h-100">
                                    <div class="card-body">
                                        <a href="#accion">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_accion.svg" />
                                            </div>
                                            <br />
                                            <h4 class="text-center">Acción y Desarrollo</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="Crecimiento">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 gy-5">
                <div class="section-heading">
                    <div id="filo" class="text-left">
                        <img src="img/svg-icons/Ico_filo.svg" />
                    </div>
                    <h4>Etapa 1: Filosófica </h4>
                    <p>En esta etapa se lleva a cabo el Proceso de Reflexión Estratégica, paso fundamental para un buen despliegue de la estrategia. Tenemos que reflexionar sobre los puntos clave de la estrategia y sus interrelaciones.</p>
                </div>
                <div class="preBody">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Misión</h5>
                            <p>
                                <strong>¿Quiénes somos, qué hacemos, para quiénes?</strong><br />
                                La misión es una descripción de la razón de ser de la organización que le da el carácter constitutivo, establece su “quehacer” institucional, los bienes y servicios que entrega, las funciones principales que la distinguen y la hacen diferente de otras instituciones y justifican su existencia.<br /><br />

                                1.	Cuál es el <strong>propósito</strong> de la Organización<br /><br />
                                2.	<strong>Qué hace:</strong> descripción de los Productos Finales (Bienes y servicios que entrega)<br /><br />
                                3.	<strong>Para quiénes:</strong> identificación de los Usuarios o beneficiarios a quiénes van dirigidos los productos finales (bienes y servicios).<br /><br />

                            </p><br />
                        </div>
                        <div class="col-md-4">
                            <h5>Visión</h5>
                            <p>
                                <strong>¿Cómo queremos ser reconocidos?</strong><br />
                                La visión corresponde al futuro deseado de la organización. Se refiere a cómo quiere ser reconocida la institución, representa los valores con los cuales se fundamentará su accionar público<br /><br />

                                1.	Los <strong>valores</strong> que tiene la institución y que desea comunicar.<br /><br />
                                2.	<strong>Cómo quiere ser vista</strong> o percibida la institución en el futuro.<br /><br />
                                3.	Los <strong>estándares de desempeño</strong> con los cuales se compromete.<br /><br />
                                4.	Lo que <strong>se entrega</strong> a la sociedad<br /><br />


                            </p><br />
                        </div>
                        <div class="col-md-4">
                            <h5>Valores</h5>
                            <p>
                                1.	Constituyen los principios esenciales y duraderos de los funcionarios de la entidad<br /><br />
                                2.	Influyen en nuestra forma de pensar, en nuestros sentimientos y formas de comportarnos<br /><br />
                                3.	Se proyectan a través de actitudes y acciones ante personas y situaciones concretas<br /><br />
                                4.	Suponen un compromiso real y profundo de la persona ante si misma y ante la sociedad en que vive.<br /><br />
                            </p>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="section gray-bg" id="Crecimiento">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 gy-5">
                <div class="section-heading">
                    <div id="ana" class="text-left">
                        <img src="img/svg-icons/Ico_ana.svg" />
                    </div>
                    <h4>Etapa 2: Analitíca  </h4>
                </div>
                <div class="preBody">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Análisis de la situación</h5>
                            <p>
                                El análisis situacional es un hito fundamental en el proceso de formulación del PEI, dado que permite definir las orientaciones para la formulación de los objetivos estratégicos y específicos institucionales.
                            </p><br />
                            <h5>Análisis FODA</h5>
                            <p>
                                Es una herramienta de estudio de la situación de la Institución, analizando sus características internas (Fortalezas y Debilidades) y su situación externa (Oportunidades y Amenazas) en una matriz cuadrada.
                            </p><br />
                        </div>
                        <div class="col-md-6">
                            <p class="text-center">
                                <img src="img\matrisFODA.jpg" />
                            </p>
                        </div>
                    </div>
                    
                        
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="Crecimiento">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 gy-5">
                <div class="section-heading">
                    <div id="opera" class="text-left">
                        <img src="img/svg-icons/Ico_opera.svg" />
                    </div>
                    <h4>Etapa 3: Operacional  </h4>
                    <p>En esta fase tenemos que fijar los objetivos, definir cómo conseguirlos y trazar los planes de acción necesarios.</p>
                </div>
                <div class="preBody">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <h5>Objetivos Estratégicos</h5>
                            <p>
                                Son <strong>logros</strong> que la organización persigue en un <strong>plazo</strong> determinado. Estos deben ser <strong>coherentes</strong> con la misión y orientaciones de las políticas de la institución.
                                La definición de los objetivos permitirá seleccionar las actividades prioritarias para el mejoramiento de la organización y  aprovechar  las ventajas.<br /><br />
                                La <strong>finalidad</strong> hacia la cual deben dirigirse los <strong>recursos y esfuerzos</strong> para dar <strong>cumplimiento a la misión y visión</strong>.

                            </p>
                            <h6>Los objetivos estratégicos deben responder a las preguntas</h6>
                            <p>
                                ¿Dónde queremos ir? ¿Qué resultados esperamos lograr?
                            </p>
                            <br />
                            <h6>¿Qué características tiene el Objetivo Estratégico?</h6>
                            <p>
                                •	<strong>Un verbo,</strong> es decir, un verbo en infinitivo que indique acción y que se pueda medir de alguna forma (cuantitativa o cualitativamente).<br />
                                •	<strong>Un horizonte de tiempo,</strong> es decir, en qué año o fecha se espera lograr el resultado final.<br />
                                •	<strong>Qué se quiere lograr,</strong> es decir, una descripción del logro.<br />

                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center">
                                <img src="img\MisioVision.jpg" />
                            </p>
                        </div>
                    </div>
                    <h5>Objetivos Específicos</h5>
                    <p>
                        Se definen a partir del análisis de las Fortalezas, Oportunidades, Debilidades y Amenazas contenidos en la Matriz FODA, considerando que lo que se busca es incrementar, aprovechar, disminuir y neutralizar las mismas respectivamente.
                        Los Objetivos Específicos centran a nivel de sector o de componente temático, los propósitos que permiten que el sector o el componente, contribuya efectivamente al logro de los objetivos generales<br />
                    </p><br />
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Mapa Estratégico</h6>
                            <p>
                                Los Objetivos Estratégicos y Específicos se visualizan esquemáticamente en el Mapa Estratégico de acuerdo a la dimensión a la que corresponden.
                            </p>
                            <br />
                            <h6>Valor Público</h6>
                            <p>
                                Servicios prestados por la institución al cliente externo, cliente final, ambiente, sociedad, competidores y reguladores
                            </p>
                            <br />
                            <h6>Financiero</h6>
                            <p>
                                Gestión financiera interna de la institución.
                            </p>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <h6>Procesos Internos</h6>
                            <p>
                                Transformación del valor, procesos clave y procesos de apoyo.
                            </p>
                            <br />
                            <h6>Aprendizaje y Conocimiento</h6>
                            <p>
                                Personas, organización y tecnología.
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--4. Fuente de Financiamiento y Distribución del Presupuesto-->
<section class="section gray-bg" id="Fuente">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 gy-5">
                <div class="section-heading">
                    <div id="accion" class="text-left">
                        <img src="img/svg-icons/Ico_accion.svg" />
                    </div>
                    <h4>Etapa 4: Acción y Desarrollo</h4>
                    <p>Es la etapa de planificación utilizada para guiar las acciones que se llevarán a cabo para el cumplimiento de los objetivos establecidos por la entidad.</p>
                </div>
                <div class="preBody">
                    <h5>Cuadro de Mando Integral</h5>
                    <p>
                        El Cuadro de Mando Integral (CMI) es una herramienta de gerencia que provee a los ejecutivos posibilidades de efectuar una evaluación periódica de cómo se está progresando hacia el logro de las metas estratégicas.
                    </p>
                    <br />
                    <p class="text-center">
                        <img src="img\cuadrodemando.png" />
                    </p>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Objetivo Específico</h6>
                            <p>En este campo se determina el objetivo específico desarrollado a partir del análisis FODA.</p>
                            <br />
                            <h6>Resultados</h6>
                            <p>Es el cambio en una situación de un determinado sector de la sociedad o de una población objetivo en particular.</p>
                            <br />
                            <h6>Acciones</h6>
                            <p>
                                Se establecen el conjunto de actividades a ser desarrolladas para el cumplimiento del objetivo específico definido.
                            </p>
                        </div>
                        <div class="col-md-6 ">
                            <h6>Meta/Indicador</h6>
                            <p>
                                Son los productos a ser entregados que definen la forma que se puede medir el cumplimiento del resultado. Deben ser, esencialmente, de tipo cuantitativo (es decir, expresados en cantidades), sin embargo, es factible de acuerdo al resultado, determinar un indicador de cumplimiento cualitativo.
                            </p>
                            <br />
                            <h6>Cronograma</h6>
                            <p>
                                Se establece fecha de inicio y fin para la ejecución de las acciones establecidas.
                            </p>
                            <br />
                            <h6>Responsables</h6>
                            <p>
                                En este campo se establecen los responsables en el logro de cada acción establecida en la Matriz del CMI.  Para el propósito se establecen los cargos respectivos de los mismos.
                            </p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Plan Nacional de Desarollo (PND) <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!-- Call to action-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>