@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Planificación por Resultados</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Planificación por Resultados</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>
                            La planificación orientada a resultados debe partir de una visión de largo plazo que represente los objetivos comunes y plurales de la ciudadanía. Esa visión servirá de base para el ejercicio de planificación de mediano plazo, que contendrá los objetivos prioritarios de los gobiernos, así como también las estrategias y los programas para lograrlos, las metas que se pretende alcanzar y los indicadores para observar su avance.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-heading heading-left">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-subheading">
                        <p>
                            La planificación es el instrumento que el gobierno utiliza para definir la carta de navegación del país, es decir, su rumbo y su destino. Para ello, un país debe responder a tres preguntas básicas: ¿dónde estamos ?, ¿a dónde queremos ir? y ¿cómo podemos llegar?
                        </p>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="text-center">
                        <img class="img-fluid" src="img/elementosplanificacion.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="h-100 wrap-benefits">
                    <h2 class="p-5">¿Cuáles son las ventajas de la planificación en la gestión pública?</h2>
                </div>
            </div>
            <div class="col-lg-7 wrap-ventajas">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 item">
                        <!-- Begin BENEFITS item -->
                        <div class="services-item services-item-modern item-style">
                            <div class="services-item-ico">
                                <i class="material-icons material-icons-outlined md-48">check_circle_outline</i>
                            </div>
                            <div class="services-item-ico-bg">
                                <i class="material-icons material-icons-outlined">check_circle_outline</i>
                            </div>
                            <div class="services-item-desc">Permite identificar qué se debería hacer (estrategias) y en qué momento para el logro de los objetivos propuestos.</div>
                        </div><!-- End BENEFITS item -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 item">
                        <!-- Begin BENEFITS item -->
                        <div class="services-item services-item-modern item-style">
                            <div class="services-item-ico">
                                <i class="material-icons material-icons-outlined md-48">check_circle_outline</i>
                            </div>
                            <div class="services-item-ico-bg">
                                <i class="material-icons material-icons-outlined">check_circle_outline</i>
                            </div>
                            <div class="services-item-desc">Ayuda a mitigar y gestionar las crisis, dado que permite evaluar los riesgos y supuestos, para considerar posibles consecuencias imprevistas de las actividades que se planifican.</div>
                        </div><!-- End BENEFITS item -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 item">
                        <!-- Begin BENEFITS item -->
                        <div class="services-item services-item-modern item-style">
                            <div class="services-item-ico">
                                <i class="material-icons material-icons-outlined md-48">check_circle_outline</i>
                            </div>
                            <div class="services-item-ico-bg">
                                <i class="material-icons material-icons-outlined">check_circle_outline</i>
                            </div>
                            <div class="services-item-desc">Mejora la atención prestada a las prioridades y lleva a un uso más eficiente del tiempo y recursos. Se constituye en una guía o una hoja de ruta clara que ayuda a centrar los recursos limitados en actividades prioritarias, es decir, aquellas que mayor probabilidad tienen de ofrecer el cambio deseado.</div>
                        </div><!-- End BENEFITS item -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 item">
                        <!-- Begin BENEFITS item -->
                        <div class="services-item services-item-modern item-style">
                            <div class="services-item-ico">
                                <i class="material-icons material-icons-outlined md-48">check_circle_outline</i>
                            </div>
                            <div class="services-item-ico-bg">
                                <i class="material-icons material-icons-outlined">check_circle_outline</i>
                            </div>
                            <div class="services-item-desc">Ayuda a determinar el futuro deseado. Un plan adecuado ayuda a conocer si los resultados logrados son los que se buscaban y evaluar cualquier discrepancia. Por esta razón, una buena planificación incluye una estrategia clara para el seguimiento y la evaluación, y para el uso de la información obtenida en estos procesos.</div>
                        </div><!-- End BENEFITS item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--RELATED INFO-->
<section class="relatedInfo section">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../ProcesoPlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Proceso de la Planificación Nacional<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank" rel="noopener">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>












