@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Proceso de la Planificación Nacional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Plan Sectorial de Desarrollo (PSD)</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>Marco normativo / Constitución Nacional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <!--<div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#s0">
                <span class="ic-shortcut"><i class="material-icons md-24">view_column</i></span>
                <span class="text-btn">Etapas</span>
            </a>
            <a class="btn-section" href="#s1">
                <span class="ic-shortcut"><i class="material-icons md-24">grid_view</i></span>
                <span class="text-btn">Tipos de Planes</span>
            </a>
            <a class="btn-section" href="#s2">
                <span class="ic-shortcut"><i class="material-icons md-24">topic</i></span>
                <span class="text-btn">Plan Operativo Institucional</span>
            </a>

        </div>
    </div>-->

</section>

<section id="s0" class="section">
    <div class="container">
        <div class="section-heading heading-left">
            <div class="section-subheading">
                <p>El <b>artículo 176</b> de la <b>Constitución Nacional</b> referido a la política económica y de la promoción del desarrollo precisa que <b>“La política económica tendrá como fines, fundamentalmente, la promoción del desarrollo económico, social y cultural"</b>.</p><br />
                <p>El Estado promoverá el desarrollo económico mediante la utilización racional de los recursos disponibles, con el objeto de impulsar un crecimiento ordenado y sostenido de la economía, de crear nuevas fuentes de trabajo y de riqueza, de acrecentar el patrimonio nacional y de asegurar el bienestar de la población. El desarrollo se fomentará con programas globales que coordinen y orienten la actividad económica nacional.</p><br />
                <p>Asimismo, <b>el artículo 177</b> que determina el carácter de los planes de desarrollo establece <b>“Los planes nacionales de desarrollo serán indicativos para el sector privado, y de cumplimiento obligatorio para el sector público”.</b></p><br />
                <p>Los PSD no se debe desarrollar de manera aislada sino más bien tomando en cuenta los objetivos del desarrollo sostenible y buscando su interrelación con otros sectores, así como a nivel territorial.</p><br />
                <p>De acuerdo al horizonte de la planificación, ésta puede inscribirse en el corto, el mediano y el largo plazo. En lo que se refiere a los <b>Planes Sectoriales de Desarrollo</b>, su vocación es por lo general de <b>largo plazo</b>, aunque, hay casos especiales en los que estos pueden ser de <b>mediano plazo.</b></p><br />
                <p>Conducir procesos de desarrollo, transformar o superar los factores que lo amenazan, no suelen ser cuestiones que puedan lograrse en períodos cortos de tiempo. Sin embargo, debe significar el inicio o énfasis de una administración para avanzar en su periodo de gobierno hacia una imagen de desarrollo de largo plazo.</p>
                <p>
                    La <b>elaboración exitosa de un PSD</b> requiere una planificación de proyecto y un montaje de una estructura de gestión, que sean efectivas. Es probable que el éxito dependa tanto, de un organismo ejecutor efectivo responsable de la elaboración del PSD, así cómo, de un medio para conectarse con una esfera más amplia de grupos de interés.
                    Un <b>Plan Sectorial</b> puede ser desarrollado directamente por los técnicos de una institución o realizarse a través de la contratación de Consultorías externas. En este último caso, será necesario garantizar la participación de los técnicos durante todo el proceso de formulación.
                </p>
            </div>
        </div>
        <div class="section-heading heading-left">
            <h2 class="mb-3">Fases</h2>

            <div class="section-subheading">
                <p>Esta fase presenta los pasos y un mecanismo posible para proveer una base firme a partir de la cual se desarrolle el PSD. <br /><br />Procesos a tener en cuenta para la elaboración del PSD.</p>
            </div>
        </div>
        <h2 class="text-center"></h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step1.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="h4 fontRed">Fase 1</div>
                        <!--<div class="news-item-date p1"><span class="Bignumber">1</span></div>-->
                        <div class="news-item-heading item-heading">
                            <h3 class="fontRed">MECANISMOS DE COORDINACIÓN Y ORGANIZACIÓN DEL PROCESO</h3>
                        </div>
                        <div class="news-item-desc mb-3">
                            <p>Esta fase presenta los pasos y un mecanismo posible para proveer una base firme a partir de la cual se desarrolle el PSD.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step2.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="h4 fontSoftBlue">Fase 2</div>
                        <!--<div class="news-item-date p2"><span class="Bignumber">2</span></div>-->
                        <div class="news-item-heading item-heading">
                            <h3 class="fontSoftBlue">MECANISMOS DE PARTICIPACIÓN SOCIAL</h3>
                        </div>
                        <div class="news-item-desc">
                            <p>
                                La participación y la concertación son procesos para los cuales es necesario crear los mecanismos apropiados, que los propicien y los cualifiquen, teniendo en cuenta el análisis de actores sociales, con una vinculación equitativa de hombres y mujeres, en función de la toma de las decisiones y de la gestión del desarrollo.<br />
                                Uno de los mecanismos fundamentales para posibilitar una real participación en el proceso de elaboración de un PSD, consiste en poner al alcance de los grupos cuya participación se busca promover, la información necesaria, de manera oportuna, teniendo en cuenta las particularidades de la población. Información que debe posibilitar
                                el reconocimiento e incorporación de la diversidad de las demandas, expectativas e intereses de la población diferenciada en los procesos de planificación.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step3.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="h4 fontDarkBlue">Fase 3</div>
                        <!--<div class="news-item-date p3"><span class="Bignumber">3</span></div>-->
                        <div class="news-item-heading item-heading">
                            <h3 class="fontDarkBlue">DIAGNÓSTICO</h3>
                        </div>
                        <div class="news-item-desc">
                            <p>

                                El diagnóstico es el análisis y la evaluación de la situación actual del sector y de su evolución histórica en un determinado período del pasado; su propósito fundamental es detectar los principales obstáculos que se oponen al cumplimiento de la situación postulada por la imagen, e identificar las potencialidades que
                                podrían contribuir a lograrla. Asimismo, es fundamental el análisis de los encadenamientos que pueda tener este sector desde un punto de vista intra y extra sectorial.<br />
                                Desde que estos análisis constituyen un elemento necesario para respaldar la efectividad de las diversas acciones de planificación, el diagnóstico configura una actividad permanente que se va desarrollando y completando a lo largo del proceso de toma de decisiones que caracteriza a la planificación.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mb-5">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step2.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="h4 fontSoftBlue">Fase 4</div>
                        <!--<div class="news-item-date p2"><span class="Bignumber">4</span></div>-->
                        <div class="news-item-heading item-heading">
                            <h3 class="fontSoftBlue">PRESENTACIÓN Y APROBACIÓN DEL PSD</h3>
                        </div>
                        <div class="services-image-item-card-left">
                            <h5>Contenido del PSD</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico general del sector.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Imagen – Objetivo.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Ejes temáticos.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Objetivos generales y específicos.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Metas.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Estrategias y políticas que guiarán la acción del gobierno y del sector privado.</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step3.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="h4 fontDarkBlue">Fase 5</div>
                        <!--<div class="news-item-date p3"><span class="Bignumber">5</span></div>-->
                        <div class="news-item-heading item-heading">
                            <h3 class="fontDarkBlue">PRESENTACIÓN Y APROBACIÓN DEL PSD</h3>
                        </div>
                        <div class="services-image-item-card-left">
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Comunicar claramente el alcance, el propósito, el valor y la necesidad de tener un PSD.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Consultar sobre el PSD propuesto con los todos grupos de interés identificados.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Finalizar el PSD tomando en cuenta los aportes correspondientes.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Asegurar apoyo político para el PSD y su ejecución.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Gestionar la aprobación del PSD.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Viabilizar la ejecución del PSD.</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <!--<div class="row gy-2">
           <div class="card Cred">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="Bignumber text-center">
                        1
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="h5 fontRed"><strong>Formulación</strong></div>
                    <p>
                        La formulación del plan nacional se realiza por medio de un proceso de consulta y participación pública y privada
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="card CSoftBlue">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 fontSoftBlue">
                        <div class="Bignumber text-center">
                            2
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="h5 fontSoftBlue"><strong>Implementación y Coordinación</strong></div>
                        <p>
                            Se plantea un sistema de coordinación interinstitucional para la formulación de planes, programas y proyectos en el cual los ministerios, las secretarias y otras entidades públicas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="card CDarkBlue">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 fontDarkBlue">
                            <div class="Bignumber text-center">
                                3
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="h5 fontDarkBlue"><strong>Seguimiento y Evaluación</strong></div>
                            <p>
                                Proceso de seguimiento y evaluación  a la implementación del PND a través del seguimiento en la ejecución del gasto, la medición de los físicos de los programas de inversión y el seguimiento a la producción de bienes y servicios por los Organismos y Entes del Estado
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    </div>-->
    </div>
</section>


<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Plan Nacional de Desarollo (PND) <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!-- Call to action-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>