@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Conoce cómo se vincula el Plan Nacional de Desarrollo (PND) con la Agenda 2030</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Conoce cómo se vincula el Plan Nacional <br />de Desarrollo (PND) con la Agenda 2030</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>El PND Paraguay 2030 actualizado contiene una elevada integración con las metas de la Agenda 2030. Existe una correspondencia directa, ya sea total o parcial, del 63% con las metas de los ODS, además si se considera la contribución de los objetivos a las metas se tiene una vinculación del 92%, que corresponde a 155 de las 169 metas ODS.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-heading heading-left">
            <div class="section-subheading">
            </div>
            <h3 class="mb-3 text-center">Vinculación de Ejes Estratégicos <br />con los Objetivos de Desarrollo Sostenible.</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="../img/ODS2.jpg" alt="tabla deObjetivos de desarrollo sostenible" />
            </div>
            <div>
                <h4>Nota</h4>
                <p>Incluye vinculación a nivel total y parcial.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="section-heading heading-left">
            <h3 class="mb-3 text-center">Vinculación de Ejes Estratégicos <br />con las Metas de los Objetivos de Desarrollo Sostenible.</h3>
            <div class="section-subheading text-center">
                <img src="../img/ODS1.JPG" />
                <p class="small"><b>Fuente: ILPES-CEPAL 2021</b></p>
            </div>
            <div>
                <h4>Nota</h4>
                <p>Incluye vinculación a nivel total y parcial.</p>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="section-heading heading-left">
                <h4>
                    En conclusión, en cuanto a la vinculación podemos observar lo siguiente:
                </h4>
            </div>
            <div class="row gy-4">
                <div class="head-axis col-lg-6">
                    <div class="mb-5 bg-alice">
                        <div class="row justify-content-left">
                            <div class="col-2 col-lg-2">
                                <div class="icon-eje ax1 h-100"><img src="../img/ax-1_white.svg" alt="icono Eje 1" /></div>
                            </div>
                            <div class="col-10 col-lg-10">
                                <div class="goals-main-info">
                                    <div class="banner-main-title-blue">
                                        <h3 id="tituloEje">Eje 1: Reducción de pobreza y desarrollo social</h3>
                                    </div>
                                    <div class="banner-main-desc-blue">
                                        <p><strong>Metas del eje:</strong> 48<br /><strong>Vinculacion con ODS:</strong> 12  </p>
                                        <div class="col-10 col-lg-10 gy-2 text-center">
                                            <div class="row gy-2">
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS1.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS2.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS3.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS4.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS5.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS6.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS7.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS8.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS10.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS11.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS12.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS16.jpg" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-axis col-lg-6">
                    <div class="mb-5 bg-alice">
                        <div class="row justify-content-left">
                            <div class="col-2 col-lg-2">
                                <div class="icon-eje ax2 h-100"><img src="../img/ax-2_white.svg" alt="icono Eje 2" /></div>
                            </div>
                            <div class="col-10 col-lg-10">
                                <div class="goals-main-info">
                                    <div class="banner-main-title-blue">
                                        <h3 id="tituloEje">Eje 2: Crecimiento económico inclusivo</h3>
                                    </div>
                                    <div class="banner-main-desc-blue">
                                        <p><strong>Metas del eje:</strong> 32<br /><strong>Vinculacion con ODS:</strong> 12</p>
                                        <div class="col-10 col-lg-10 gy-2 text-center">
                                            <div class="row gy-2">
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS1.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS2.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS4.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS5.jpg" />
                                                </div>
                                                
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS7.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS8.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS9.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS10.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS11.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS12.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS16.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS17.jpg" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-axis col-lg-6">
                    <div class="mb-5 bg-alice">
                        <div class="row justify-content-left">

                            <div class="col-2 col-lg-2">
                                <div class="icon-eje ax3 h-100"><img src="../img/ax-3_white.svg" alt="icono Eje 3" /></div>
                            </div>
                            <div class="col-10 col-lg-10">
                                <div class="goals-main-info">
                                    <div class="banner-main-title-blue">
                                        <h3 id="tituloEje">Eje 3: Proyección de Paraguay en el mundo</h3>
                                    </div>
                                    <div class="banner-main-desc-blue">
                                        <p><strong>Metas del eje:</strong> 21<br /><strong>Vinculacion con ODS:</strong> 9</p>
                                        <div class="col-10 col-lg-10 gy-2 text-center">
                                            <div class="row gy-2">
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS1.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS7.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS8.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS9.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS10.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS11.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS12.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS13.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS17.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="head-axis col-lg-6">
                    <div class="mb-5 bg-alice">
                        <div class="row justify-content-left">
                            <div class="col-2 col-lg-2">
                                <div class="icon-eje ax4 h-100"><img src="../img/ax-4_white.svg" alt="icono Eje 4" /></div>
                            </div>
                            <div class="col-10 col-lg-10">
                                <div class="goals-main-info">
                                    <div class="banner-main-title-blue">
                                        <h3 id="tituloEje">Eje 4: Fortalecimiento político institucional</h3>
                                    </div>
                                    <div class="banner-main-desc-blue">
                                        <p><strong>Metas del eje:</strong> 28<br /><strong>Vinculacion con ODS:</strong> 9</p>
                                        <div class="col-10 col-lg-10 gy-2 text-center">
                                            <div class="row gy-2">
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS6.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS8.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS10.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS11.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS12.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS14.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS15.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS16.jpg" />
                                                </div>
                                                <div class="col-lg-2 ODSPND">
                                                    <img src="img/ODS/Ico_ODS17.jpg" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="#!" class="py-5 mb-5 px-0">
                        <div class="h3">El Proceso de la Planificación Nacional<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>












