@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Plan Nacional de Desarrollo (PND) 2030</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Plan Nacional de Desarrollo (PND) 2030</h2>
                    </div>
                    <!--<div class="banner-main-desc">
                        <p>La <b>STP</b> impulsa el proceso de la planificación en sus diferentes ámbitos junto con las instituciones del Estado integrando los lineamientos estratégicos establecidos en el Plan Nacional de Desarrollo, prioridades del Gobierno y Objetivos de Desarrollo Sostenible.</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#antecedentes">
                <span class="ic-shortcut"><i class="material-icons md-24">history</i></span>
                <span class="text-btn">Antecedentes</span>
            </a>
            <a class="btn-section" href="#queesel">
                <span class="ic-shortcut"><i class="material-icons md-24">article</i></span>
                <span class="text-btn">¿Qué es el PND?</span>
            </a>
            <a class="btn-section" href="#fases">
                <span class="ic-shortcut"><i class="material-icons md-24">dashboard</i></span>
                <span class="text-btn">Fases</span>
            </a>
            <a class="btn-section" href="#implementacion">
                <span class="ic-shortcut"><i class="material-icons md-24">fact_check</i></span>
                <span class="text-btn">Implementación</span>
            </a>
        </div>
    </div>

</section>

<!--1.Qué es el Presupuesto General de la Nación-->
<section class="section" id="antecedentes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="mb-3">Antecedentes</h2>
                    <div class="section-subheading">
                        <p>
                            El Plan Nacional de Desarrollo Paraguay al 2030 (PND Paraguay 2030), es el producto de un amplio proceso de consulta en reuniones y talleres iniciados en el mes de noviembre del 2013, de los que participaron más de 2.000 referentes del gobierno central, gobiernos sub-nacionales, sociedad civil, sector privado y académico. Este proceso de consulta ha sido realizado en 10 departamentos del país con la participación de autoridades sub-nacionales, sociedad civil y sector privado local.<br/><br />
                            Como resultado de este amplio consenso a nivel país, el PND Paraguay 2030 fue aprobado mediante el Decreto N° 2.794/2014, como herramienta indicativa para el sector privado y guía obligatoria para el sector público, para los siguientes quince años.<br /><br />
                            No obstante, dado los eventos sociales, económicos y políticos que transcurren entre un gobierno y otro; son necesarias las revisiones y actualizaciones en cuestiones de forma (indicadores, acciones de corto plazo etc) que complementan la adaptabilidad del PND Paraguay 2030 al contexto de cada gobierno, sin dejar de lado la visión original del Plan.<br /><br />
                            La revisión del PND Paraguay 2030, como un complemento del PND inicial, es una revalidación de las metas e indicadores, considerando el nuevo escenario causado por los efectos y desafíos de la pandemia COVID-19. Desde ese punto de vista, es necesario realizar una nueva mirada del país, para todos los ejes estratégicos del PND Paraguay 2030
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--2. Perspectiva de crecimiento de Paraguay-->
<section class="section gray-bg" id="queesel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>¿Qué es el Plan Nacional de Desarrollo (PND) Paraguay 2030</h2>
                </div>
                <div class="preBody">
                    <p>
                        Documento estratégico que facilitará coordinar acciones en las instancias sectoriales del Poder Ejecutivo, así como con diversos niveles de gobierno, sociedad civil, sector privado y, eventualmente, los poderes Legislativo y Judicial. Es un instrumento que nos permitirá cumplir con el mandato constitucional establecido en el Artículo 177 que establece que “Los planes nacionales de desarrollo serán indicativos para el sector privado, y de cumplimiento obligatorio para el sector público”. Es el producto de un amplio proceso de consulta en reuniones y talleres.<br /><br />

                        ¿Cuál es el propósito principal? Construir una nación al 2030 inspirada en la visión al 2030 del Paraguay que queremos.<br /><br />

                        Mas detalles en <strong><a href="https://www.stp.gov.py/pnd/" target="_blank">https://www.stp.gov.py/pnd/</a></strong>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--3. Principales variables macroeconómicas-->
<section class="section" id="fases">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Fases de elaboración del PND</h2>

                </div>
                <div class="preBody">
                    <p>El proceso de elaboración del PND se divide en cinco fases:</p>
                </div>
                <div class="row gy-2">
                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 1</h4>
                                <p class="rHlg">
                                    Mecanismos de coordinación y organización del proceso.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 2</h4>
                                <p class="rHlg">
                                    Mecanismos de participación social
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 3</h4>
                                <p class="rHlg">
                                    Diagnóstico
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 4</h4>
                                <p class="rHlg">
                                    Formulación del PND
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 5</h4>
                                <p class="rHlg">
                                    Presentación y aprobación del PND
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card shadow border-0 h-100">
                            <div class="card-body">
                                <h4>Fase 6</h4>
                                <p class="rHlg">
                                    Actualización y avance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--4. Fuente de Financiamiento y Distribución del Presupuesto-->
<section class="section gray-bg" id="implementacion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Coordinación para la Implementación</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="preBody">
                    <p>
                        La coordinación requerida para la implementación de planes, programas y proyectos descansará en la estructura de coordinación interinstitucional. Las entidades rectoras a nivel sectorial, entre ellas los ministerios, secretarías y otras entidades, se integrarán a la estructura de coordinación para la adecuada implementación del Plan Nacional de Desarrollo a través de los planes sectoriales y la coordinación de organismos bajo su rol rector, en especial con aquellos temas de carácter transectorial. Bajo la rectoría de la Secretaría Técnica de Planificación del Desarrollo Económico y Social (STP) se consolidarán los Planes de Desarrollo Departamental y se impulsará su articulación con los planes sectoriales y con el Plan Nacional de Desarrollo.<br /><br />
                        Asimismo, la STP emitirá los lineamientos técnicos a ser considerados por las municipalidades en la elaboración de los Planes de Desarrollo y Ordenamiento Territorial. A través de la Planificación Nacional se instrumentarán los mecanismo de coordinación y consolidación de los planes y programas integrando a los distintos sectores y actores a través de comités y grupos de trabajo interinstitucional integrados por la Secretaría Técnica de Planificación y el Ministerio de Hacienda, que emitirán los lineamientos específicos para la integración de las diversas herramientas del ciclo de la gestión pública para la planificación, programación, presupuestación, ejecución, seguimiento y evaluación de políticas públicas, y para la elaboración de los instrumentos de gestión: plan estratégico institucional, plan anual de inversión, plan operativo anual, plan de compras y contrataciones y presupuesto público; o, para la coordinación con otros sistemas de gestión pública.<br /><br />
                        Durante la implementación del Plan Nacional de Desarrollo se irá consolidando la función de planificación, a través del desarrollo de las metodologías de planificación y gestión, y las capacidades para la elaboración de los diversos planes que comprende el Sistema. En este contexto, los OEE establecerán sus respectivos marcos de gasto de mediano plazo que permitan la presupuestación plurianual integrada a la planeación nacional en todos los niveles de la Administración Pública.<br /><br />
                        Con relación al sector privado, las orientaciones del PND Paraguay 2030 serán indicativas, pero se deberán establecer ágiles y eficientes mecanismos de coordinación intersectorial del PSD.

                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Plan Nacional de Desarollo (PND) <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!-- Call to action-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>
