@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Presupuesto</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Presupuesto Ciudadano</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Presupuesto Ciudadano</h2>
                    </div>
                    <div class="banner-main-desc">

                        <!--<p class="text-bold">Las políticas públicas para construir el Paraguay del 2030 se concentrarán en tres grandes ejes estratégicos:</p>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OBJETIVO ESTRATEGICO-->
<!--1.Qué es el Presupuesto General de la Nación-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe id="pciuda" style="border: none; width: 100%; margin-left: auto; margin-right: auto;" src="https://pciudadano.sefin.gob.hn/cuanto-es-el-presupuesto-de-gastos/" width="1400" height="2000" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" allowfullscreen="allowfullscreen">
                    <br />
                </iframe>
            </div>
        </div>
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PresupuestoGeneral" class="py-5 mb-5 px-0">
                        <div class="h3">Presupuesto General la República<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.sefin.gob.hn/" target="_blank">
                        <img class="img-fluid" src="../img/logoHaciendaB.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Instituciones y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!-- Call to action-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>

<script>
        $(document).ready(function () {
            GetEntidadesPresupuesto();
        });

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("navs-header");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                header.classList.add("bg-white");
            } else {
                header.classList.remove("sticky");
                header.classList.remove("bg-white");
            }
        }
</script>
