@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Participación Ciudadana</a><i class="material-icons md-18">chevron_right</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Participación Ciudadana</h1>
                    </div>
                    <div class="banner-main-desc">


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--OBJETIVO ESTRATEGICO-->
<!--1.Qué es el Presupuesto General de la Nación-->
<section class="section" id="Presupuesto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h3 class="mb-3">
                        ¿Qué es la participación ciudadana?</h2>
                        <div class="section-subheading">
                            <p>
                                Es la inclusión del ciudadano en la formulación, ejecución y evaluación las políticas y acciones del Estado, convirtiéndolo en protagonista y gestor de los asuntos públicos.
                            </p>
                        </div>
                        <div class="section-heading text-center">
                            <h4>La participación ciudadana nos ayuda a:</h4>
                        </div>
                        <div class="col-lg-12 gy-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cardR shadow border-0 h-100">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_4.svg" alt="icono 4" />
                                            </div>
                                            <div>
                                                <p class="text-center">
                                                    Hacer auditoría ciudadana sobre el manejo de los recursos, promover la transparencia y el mejoramiento en el desempeño de la gestión pública.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cardR shadow border-0 h-100">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_5.svg" alt="icono 5" />
                                            </div>
                                            <p class="text-center">
                                                Cumplir el derecho de petición que tiene toda persona o asociación de personas de presentar peticiones a las autoridades, y obtener respuesta en el plazo legal.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 gy-4">
                                    <div class="cardR shadow border-0 h-100">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_6.svg" alt="icono 6" />
                                            </div>
                                            <div>
                                                <p class="text-center">
                                                    Mejorar la calidad y legitimidad en las decisiones públicas.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 gy-4">
                                    <div class="cardR shadow border-0 h-100">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="img/svg-icons/Ico_7.svg" alt="icono 7" />
                                            </div>
                                            <div>
                                                <p class="text-center">
                                                    Promover la deliberación, mejorando el procesamiento de la información.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-12 gy-4">
                <div class="section-heading text-center">
                    <h4>
                        De esta manera aumentamos la eficiencia y eficacia en la inversión pública y fortalecemos la
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-gray" id="participa">
    <div class="container">
        <div class="section-heading heading-center">

            <h3>Participación Ciudadana</h3>
            <div class="section-subheading">
                <p>En este espacio podrás tener una interacción rápida con las autoridades sobre la información de la plataforma. A través del <strong>Portal de Transparencia</strong> podrás hacer comentarios y sugerencias, recibir respuestas y conocer la participación realizada por otras personas.</p>
                <div class="text-center">
                    <a href="https://www.portalcontacto.com/" target="_blank" rel="noopener"><img src="/img/PortalGray.jpg " alt="Logo Portal" /></a>
                </div>
                <p>Es muy fácil hacer tu comentario, sigue estos pasos y participa!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card shadow border-0 ">
                        <div class="car-deck">
                            <div class="card-body">
                                <div class="car-content mh240">
                                    <div class="tit-section">
                                        <h4>PASO 1</h4>
                                    </div>
                                    <div class="text-section">
                                        Haz clic en el botón que dice <strong>Participa aquí</strong>, el cual te llevara a la página de la institución que está en el <strong>Portal Único de Transparencia.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card shadow border-0">
                        <div class="car-deck">
                            <div class="card-body">
                                <div class="car-content  mh240">
                                    <div class="tit-section">
                                        <h4>PASO 2</h4>
                                    </div>
                                    <div class="text-section">
                                        En la página del <strong>Portal Único de Transparencia</strong>, ubica el botón de <strong>Participación Ciudadana</strong> y haz click. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card shadow border-0">
                        <div class="car-deck">
                            <div class="card-body">
                                <div class="car-content  mh240">
                                    <div class="tit-section">
                                        <h4>PASO 3</h4>
                                    </div>
                                    <div class="text-section">
                                        Dentro de la sección de <strong>participación ciudadana</strong> haz click en <strong>Puedes hacer tu sugerencia aquí</strong>, y se desplegará un formulario donde podrás realizar tu comentario.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center gy-4">
                <div class="btn btn-cards">
                    <a href="https://www.portalcontacto.com/" class="btn btn-cards" target="_blank" rel="noopener">
                        <span>Ir al Portal Único de Transparencia</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="participa">
    <div class="container">
        <div class="section-heading heading-center">

            <h3>¿Quieres solicitar información adicional?</h3>
            <div class="section-subheading">
                <p>Recuerda que todos los ciudadanos tienen el derecho de acceso a la información pública, si quieres información adicional puedes solicitarla <br />haciendo clic en el logo del <strong>Loremp Imsump.</strong></p>
                <div class="text-center">
                    <a href="https://DOMINIO.COM/HOME/" target="_blank" rel="noopener"><img class="img-fluid" src="/img/Shielo.png" alt="portal sielho" /></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row py-5">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta">
                    <a href="/PresupuestoGeneral" target="_blank" class="py-5 mb-5 px-0">
                        <div class="h4">Presupuestos de la República<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                    <a href="/ProcesoPresupuesto" target="_blank" class="py-5 mb-5 px-0">
                        <div class="h4">Presupuestos Ciudadanos<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div><br />
                <h2>Explora</h2>
                <div class="wrap-cta">
                    <a href="../Entidades" class="py-5 mb-5 px-0">
                        <div class="h4">Ir a Instituciones <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wrap-cta">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.dominioentidad.com/" target="_blank" rel="noopener">
                        <img class="img-fluid" src="../img/logoHaciendaP.png" alt="ir a" />
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Call to action-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script src="~/js/lib/D3/d3.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/d3plus@2" integrity="sha384-c1J7R3OBhP9G7a0SkXCaVW1lVtOHAOuukFed365bi4B0GwZvKL2hd8mjE7tRMl2U" crossorigin="anonymous"></script>
<script src="~/js/graficos_aux.js"></script>
<script>
    $(document).ready(function () {
        GetEntidadesPresupuesto();
***REMOVED***);

    window.onscroll = function () { myFunction() ***REMOVED***;

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
    ***REMOVED*** else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
    ***REMOVED***
***REMOVED***
</script>












