@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Participación Ciudadana</a><i class="material-icons md-18">chevron_right</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Participación Ciudadana</h1>
                    </div>
                    <div class="banner-main-desc">

                        <p class="text-bold">En una interacción rápida con las autoridades sobre la información de la plataforma, podrás hacer comentarios, preguntas, recomendaciones, recibir respuestas y conocer la participación realizada por otras personas.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--1.Qué es la participación ciudadana-->
<section class="section" id="Presupuesto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading heading-left">
                    <h2 class="mb-0">¿Qué es la participación ciudadana?</h2>
                    <div class="section-subheading">
                        <p>
                            Es la inclusión del ciudadano en la formulación, ejecución y evaluación de las políticas y acciones del Estado, convirtiéndolo en protagonista y gestor de los asuntos públicos.
                        </p>
                    </div>
                   
                </div>
                <div class="section-heading text-center">
                    <h4>La participación ciudadana nos ayuda a:</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="cardR shadow border-0 h-100">
                            <div class="card-body d-flex align-items-center">
                                <div class="icon-wrapper">
                                    <img src="img/ic-par1.svg" alt="icono decorativo" />
                                </div>
                                <div>
                                    <p class="text-desc">
                                        Hacer auditoría ciudadana sobre el manejo de los recursos, promover la transparencia y el mejoramiento en el desempeño de la gestión pública.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="cardR shadow border-0 h-100">
                            <div class="card-body d-flex align-items-center">
                                <div class="icon-wrapper">
                                    <img src="img/ic-par2.svg" alt="icono decorativo" />
                                </div>
                                <p class="text-desc">
                                    Cumplir el derecho de petición que tiene toda persona o asociación de personas de presentar peticiones a las autoridades, y obtener respuesta en el plazo legal.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 gy-4">
                        <div class="cardR shadow border-0 h-100">
                            <div class="card-body d-flex align-items-center">
                                <div class="icon-wrapper">
                                    <img src="img/ic-par3.svg" alt="icono decorativo">
                                </div>
                                <div class="text-desc">
                                    <p>
                                        Mejorar la calidad de las decisiones en los asuntos públicos, contribuyendo a mejorar la confianza en las instituciones del Estado.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 gy-4">
                        <div class="cardR shadow border-0 h-100">
                            <div class="card-body d-flex align-items-center">
                                <div class="icon-wrapper">
                                    <img src="img/ic-par4.svg" alt="icono decorativo" />
                                </div>
                                <div>
                                    <p class="text-desc">
                                        Promover la deliberación, mejorando el procesamiento de la información.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--COMO PARTICIPAR-->
<section class="section" id="p2">
    <div class="container">
        <div class="section-heading heading-left">
            <h2>¿Cómo participar en MapaInversiones?</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="services-item services-item-modern item-style">
                    <div class="services-item-ico c1">
                        <span class="stepNumber">1</span>
                    </div>
                    <div class="icStep">
                        <img src="img/ic-p-s1.svg" alt="icono decorativo">
                    </div>
                    <h3 class="services-item-heading">Busca y revisa el proyecto que te interesa</h3>
                    <div class="">Puedes hacerlo en el buscador o interactuando en el mapa</div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="services-item services-item-modern item-style">
                    <div class="services-item-ico c2">
                        <span class="stepNumber">2</span>
                    </div>
                    <div class="icStep">
                        <img src="img/ic-p-s2.svg" alt="icono decorativo">
                    </div>
                    <h3 class="services-item-heading">
                        Crea tu cuenta de usuario completando el formulario de registro
                    </h3>
                    <div class="">Este formulario está ubicado en la última parte de la página del proyecto.</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-item services-item-modern item-style">
                    <div class="services-item-ico c3">
                        <span class="stepNumber">3</span>
                    </div>
                    <div class="icStep">
                        <img src="img/ic-p-s3.svg" alt="icono decorativo">
                    </div>
                    <h3 class="services-item-heading">
                        Escribe tu comentario y/o sube fotos del proyecto
                    </h3>
                    <div class="">Tu comentario será revisado y será publicado si cumple con los términos y condiciones. </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center gy-4">
                <p class="disclaimer"><i class="material-icons md-24">info</i> Las respuestas a tus comentarios se realizará por tardar 5 días hábiles y serán publicadas en MapaInversiones</p>
            </div>
        </div>
    </div>
</section>

<!--RELATED INFO-->
<section class="section bgSoftGray">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row justify-content-center">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <div class="section-heading heading-center">
                    <h2>Solicita más información pública</h2>
                </div>
                <!--LINKS seccion infografia planificacion-->
                <div class="wrap-cta text-center">
                    <p>Gracias al libre acceso a la información pública y la transparencia gubernamental puedes realizar solicitudes de información pública específica y detallada a las instituciones responsables.</p>
                    <p>Visita </p>
                    <a href="#" target="_blank" rel="noopener" class="py-5 mb-5 px-0">
                        <img class="img-fluid" src="img/logo-saip.png" alt="Logotipo del Portal Único de Solicitud de Acceso a la Información Pública (SAIP)" />
                    </a>

                </div>

            </div>

        </div>

    </div>
</section>
<!-- Call to action-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script src="~/js/lib/D3/d3.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/d3plus@2" integrity="sha384-c1J7R3OBhP9G7a0SkXCaVW1lVtOHAOuukFed365bi4B0GwZvKL2hd8mjE7tRMl2U" crossorigin="anonymous"></script>
<script src="~/js/graficos_aux.js"></script>
<script>
    $(document).ready(function () {
        GetEntidadesPresupuesto();
***REMOVED***);

    window.onscroll = function () { myFunction() ***REMOVED***;

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
    ***REMOVED*** else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
    ***REMOVED***
***REMOVED***
</script>












