@page
@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Ayudános a mejorar</a><i class="material-icons md-18">chevron_right</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Ayudános a mejorar Gobierno Abierto Bogotá</h1>
                    </div>
                    <div class="banner-main-desc">

                        <p class="text-bold"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--1.Qué es la participación ciudadana-->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading heading-center">
                    <h2 class="h3">¡Tu participación es clave para potenciar la plataforma!</h2>
                </div>
                <div class="section-subheading">
                    <p class="text-bold text-center">Respondé esta breve encuesta y contános lo que más te gustó, lo que no y si tenés alguna propuesta de mejora para Gobierno Abierto Bogotá ¡Es con vos que recuperamos a Cali!</p>
                </div>
                <div class="wrap-form py-4 text-center">
                    <div class="ratio ratio-1x1">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeloaKIn7tyPtSSXI4Uxla6ryqPdF-W_IHs1gceQcRd7mIaDw/viewform?embedded=true" width="768" height="477" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- Call to action-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>

<script>

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header ? header.offsetTop : 0;

    function myFunction() {
        if (header) {
            if (window.scrollY > sticky) {
                header.classList.add("sticky");
                header.classList.add("bg-white");
            } else {
                header.classList.remove("sticky");
                header.classList.remove("bg-white");
            }
        }
    }
</script>












