@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email confirmation</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
    <p>
        <a href="@Url.Content("~/")">Home</a>
    </p>
</div>