<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row items">
                <div class="col-xl-3 col-lg-4 col-md-5 col-12 item">
                    <!-- Begin company info -->
                    <div class="footer-company-info">
                        <div class="footer-company-top">
                            <a href="/" class="logo logo-ico-widht-text" title="DATOS FISCALES">
                                <!--<img class="lazy logo-ico" data-src="" width="36" height="35" >-->
                                <span class="logo-text">DATOS FISCALES</span>
                                <small></small>
                            </a>
                            <div class="footer-company-desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="footer-company-links">
                                <a href="#">Politica de Privacidad</a>
                                <a href="#">Terminos y Condiciones</a>
                            </div>

                        </div>

                    </div>
                    <!-- End company info -->

                </div>
                <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item">
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="#">Planificación</a></h4>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="#!" class="hover-link" data-title="Proceso de planificación"><span>Proceso de planificación</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Plan nacional de Desarrollo"><span>Plan nacional de Desarrollo</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Planes operativos institucionales"><span>Planes operativos institucionales</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Planes de Acción Nacional"><span>Planes de Acción Nacional</span></a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-7 item">
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="#">Presupuesto</a></h4>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="#!" class="hover-link" data-title="Proceso Presupuestario"><span>Proceso Presupuestario</span></a></li>
                                <li><a href="/PresupuestoGeneral" class="hover-link" data-title="Presupuesto General de la Nación"><span>Presupuesto General de la Nación</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Financiación"><span>Financiación</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Atención a Emergencias"><span>Atención a Emergencias</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-7 item">
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="#">Participación Ciudadana</a></h4>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="#!" class="hover-link" data-title="Contratos"><span>Contratos</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Foros"><span>Foros</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Comentarios"><span>Comentarios</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>



                <div class="col-xs-4 col-lg-2 col-12 item">
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="#">Datos abiertos</a></h4>
                    </div>
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="/Acercade">Acerca de Datos Fiscales</a></h4>
                    </div>
                    <div class="footer-item">
                        <h4 class="footer-item-heading"><a href="#">Marco legal</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <a href="">
                    <img src="~/img/Footer/logo-hacienda.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo_senac.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logoMITIC.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo-snip.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logoSEN_white.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo_dncpW.png" />
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <a href="">
                    <img src="~/img/Footer/logo_presidencia.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo_agpe.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/Logo_PpR.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo-bid.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logo-mapa-inversiones.png" />
                </a>
                <a href="">
                    <img src="~/img/Footer/logoOCP.png" />
                </a>
            </div>
        </div>
    </div>
</footer><!-- End footer -->
