@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Presupuesto</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>¿Qué es y qué contiene el presupuesto general de Bogotá?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-mai-title">
                        <h1>¿Qué es y qué contiene <br />el presupuesto general de Bogotá?</h1>
                    </div>
                    <div class="banner-main-desc"></div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--OBJETIVO ESTRATEGICO-->
    <!--1.Qué es el Presupuesto General de la Nación-->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading heading-left">
                    <h2>
                        ¿Qué es un presupuesto?
                    </h2>
                </div>
                 <div class="section-subheading">
                        <div class="row py-4">
                            <div class="col-md-4">
                                <img alt="ilustración de dos personas de pie analizando tableros con graficos de barras y haciendo calculos monetarios" src=" ..\img\imgpresupuesto\presupuesto-001.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Un presupuesto público es el "plan de gastos" de un gobierno. Así como tú tienes un presupuesto para gestionar tu dinero, el gobierno tiene uno para gestionar el dinero de todos los ciudadanos.
                                    <br /><br />
                                    Este dinero proviene de los impuestos, que son los pagos que las personas y empresas hacen al gobierno, así como de las utilidades, rendimientos financieros, entre otros.
                                </p>
                            </div>
                        </div>
                        <div class="row py-4">
                            <div class="col-md-8">
                                <p>
                                    La idea del presupuesto público es muy parecida a la de un presupuesto personal, pero a gran escala. En tu presupuesto se incluyen todos los gastos en los que incurres cada año; estos pueden ser gastos fijos, como arriendos, servicios públicos, alimentación, transporte, entre otros, y gastos variables, extraordinarios o inversiones, como la compra de una casa, de un vehículo o de un electrodoméstico
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img alt="persona centada elaborando un presupuesto con calculadora y papeles en mano" src=" ..\img\imgpresupuesto\presupuesto-002.jpg" />
                            </div>
                        </div>
                        <div class="row py-4">
                            <div class="col-md-4">
                                <img alt="persona con perfil ejecutivo revisando estado de cuentas y gastos" src=" ..\img\imgpresupuesto\presupuesto-003.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Igualmente, en el presupuesto público se incluye gastos fijos como el pago de nómina de los empleados públicos, arriendos, servicios públicos, mantenimiento de sedes administrativas entre otros, y gastos variables que se ven reflejados en los bienes y servicios que se entregan a la ciudadanía por parte de las diferentes entidades que conforman el Gobierno Distrital, para el cumplimiento del Plan Distrital de Desarrollo.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </section>
<section class="section-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading heading-left">
                    <h2>
                        ¿Qué contiene un presupuesto?
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="row py-4">
                        <div class="col-lg-4">
                            <div class="card white-card">
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="card-wrapper-img">
                                            <img alt="persona sentada revisando graficos estadisticos y monetarios" class="img-fluid" src=" ..\img\imgpresupuesto\presupuesto-004.jpg" />
                                        </div>
                                        <div class="card-wrapper-cont">
                                            <h3>Ingresos</h3><br/>
                                            <p>Provienen de los impuestos que pagan los ciudadanos y las empresas. También puede incluir otras fuentes, como los préstamos o las utilidades de las inversiones, 
                                                las transferencias que recibimos del Gobierno Nacional, entre otros.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card white-card">
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 card-wrapper-img">
                                                <img alt="persona de pie sosteniedo lupa revisando gráficos" class="img-fluid" src=" ..\img\imgpresupuesto\presupuesto-005.jpg" />
                                            </div>
                                            <div class="col-md-6 card-wrapper-cont">
                                                <h3>Gastos</h3><br />
                                                <p>
                                                    Son todos los recursos necesarios para sostener el funcionamiento de las entidades distritales que prestan los servicios y programas que el gobierno ofrece. Entre otros:

                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-wrapper-grid">
                                            <div class="card-grid">
                                                <div class="card-wrapper-icn">
                                                    <img alt="icono representativo del sector salud" class="img-fluid" src=" ..\img\imgpresupuesto\icn-salud.svg" />
                                                </div>
                                                <div class="card-wrapper-txt">
                                                    <strong>Salud:</strong> Para el sostenimiento y construcción de los hospitales.
                                                </div>
                                            </div>
                                            <div class="card-grid">
                                                <div class="card-wrapper-icn">
                                                    <img alt="icono representativo del sector educacion" class="img-fluid" src=" ..\img\imgpresupuesto\icn-educacion.svg" />
                                                </div>
                                                <div class="card-wrapper-txt">
                                                    <strong>Educación:</strong> Para garantizar el funcionamiento de las escuelas y universidades.
                                                </div>
                                            </div>
                                            <div class="card-grid">
                                                <div class="card-wrapper-icn">
                                                    <img alt="icono representativo del sector infraestructura" class="img-fluid" src=" ..\img\imgpresupuesto\icn-infra.svg" />
                                                </div>
                                                <div class="card-wrapper-txt">
                                                    <strong>Infraestructura:</strong>  Como vías, puentes, espacio público, transporte público
                                                </div>
                                            </div>
                                            <div class="card-grid">
                                                <div class="card-wrapper-icn">
                                                    <img alt="icono representativo del sector seguridad" class="img-fluid" src=" ..\img\imgpresupuesto\icn-seguridad.svg" />
                                                </div>
                                                <div class="card-wrapper-txt">
                                                    <strong>Seguridad:</strong> Para policía y bomberos.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="card white-card">
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 card-wrapper-img">
                                                <img alt="Persona contando dinero y revisando gráficos monetarios" class="img-fluid" src="..\img\imgpresupuesto\presupuesto-006.jpg" />
                                            </div>
                                            <div class="col-md-8 card-wrapper-cont">
                                                <h3>Objetivo</h3><br />
                                                <p>
                                                    El gobierno tiene que organizar su dinero de manera que no gaste más de lo que recibe
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading heading-left">
                    <h2>
                        ¿En qué se Invierte el presupuesto?
                    </h2>
                </div>
                <div class="d-flex justify-content-center">
                    <img alt="Ilustracion de un billete con la distribucion del presupuesto por sectores" class="img-fluid py-4" src=" ..\img\imgpresupuesto\presupuesto-007.jpg" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="wrap-cta my-3 d-flex gap-3">

                            <a href="..\assets\VF_Presentacion 20042025.pdf" target="_blank" class="btn btn-lg px-4">
                                <span class="text-center" title="Descargar presentación">
                                    Descargar presentación
                                </span>
                            </a>

                            <a href="/PresupuestoGeneral" class="btn btn-primary btn-lg px-4">
                                <span title="Explora y analiza el prespuesto anual">
                                    Explora y analiza el prespuesto anual
                                </span>

                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    
    <!-- Call to action-->
    <!--HELP CENTER SHORTCUT-->
    <div id="helpCenter"></div>

    <script>

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("navs-header");
        var sticky = header ? header.offsetTop : 0;

        function myFunction() {
            if (header) {
                if (window.scrollY > sticky) {
                    header.classList.add("sticky");
                    header.classList.add("bg-white");
                } else {
                    header.classList.remove("sticky");
                    header.classList.remove("bg-white");
                }
            }
        }
    </script>












