@page
@inject OrchardCore.IOrchardHelper Orchard
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!--MAIN BANNER-->
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>¿Cómo se transforma Bogotá con inversión pública?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>¿Cómo se transforma Bogotá con inversión pública?</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p><span class="text-bold">Cada día, en distintos puntos de Bogotá, se están haciendo proyectos que mejoran la vida de las personas.</span> Algunos son pequeñas, otros muy grandes. Pero todos hacen parte de un mismo propósito: construir una mejor ciudad para todos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PROYECTOS TIPOLOGIA-->

<section class="section section-bg3 bg-docs">
    <div class="container">

        <!-- TIPOS DE PROYECTOS-->
        <div class="row news-timeline info-inversion">

            <div class="col-xl-5 col-lg-5 col-12 news-timeline-item-left">
                <!-- Begin news item -->
                <article class="news-item item-style">

                    <div class="news-item-info">

                        <h2>
                            ¿Qué es un POT?
                        </h2>
                        <div class="news-item-desc">
                            <p class="text-bold mb-3">Es una herramienta que orienta el <span class="text-bold">uso, ocupación y transformación del territorio urbano y rural</span>. Representa un pacto entre la ciudadanía y su entorno.</p>
                            <p>
                                <span class="highlight-text">El POT de Bogotá define cómo se transformará la ciudad entre 2022 y 2035.</span> Es una hoja de ruta que establece qué proyectos estratégicos se implementarán para construir una ciudad más equitativa, sostenible y  planificada.
                            </p>
                        
                        </div>
                        <div class="news-item-img">
                            <img data-src="img/info-1-1.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, personas caminando en un parque de la ciudad">
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                <!-- Begin news item -->
                <article class="news-item item-style">

                    <div class="news-item-info">
                        <h2>
                            ¿Cuál es el alcance de un POT?
                        </h2>
                        <div class="news-item-desc">
                            <p class="mb-3">
                                El POT está diseñado para un horizonte de 12 años, lo que permite <span class="highlight-text">poner en marcha proyectos que transformen el territorio a corto, mediano y largo plazo.</span> Este periodo abarca tres administraciones distritales, lo que da continuidad a las acciones.
                            </p>
                        </div>
                    </div>
                    <div class="news-item-img">
                        <img data-src="img/info-2-2.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, grafico como se divide bogotá">
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 col-12 news-timeline-item-left">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="img/info-4.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, edificios y grua de construccion">
                    </div>
                    <div class="news-item-info">

                        <h2>
                            ¿Para qué sirve un POT?
                        </h2>
                        <div class="news-item-desc">
                            <ul>
                                <li><span class="highlight-text">Localizar mejor</span> las viviendas, zonas productivas, patrimoniales y de esparcimiento.</li>
                                <li><span class="highlight-text">Priorizar obras</span> como parques, andenes, ciclorrutas, centros de atención y vías</li>
                                <li><span class="highlight-text">Dar continuidad a proyectos estratégicos</span> en los planes de desarrollo</li>
                            </ul>

                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="img/info-3-3.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, niños corriendo en un parque y elevenado comentas">
                    </div>
                    <div class="news-item-info">
                        <h2>
                            ¿Cómo se implementa un POT?
                        </h2>
                        <div class="news-item-desc">
                            <p class="text-bold mb-3">
                                La implementación del POT es la etapa en la que las administraciones ponen en marcha las acciones definidas en el plan. Para hacerlo, deben articular recursos institucionales, financieros y políticos, con el fin de construir el modelo de ciudad propuesto. Se implementa a través de 3 aspectos clave:
                            </p>
                            <ul>
                                <li><span class="highlight-text">Ejecución de programas y proyectos</span> definidos en el POT.</li>
                                <li><span class="highlight-text">Aplicación de normas urbanísticas</span> para orientar los usos del suelo y las actividades.</li>
                                <li><span class="highlight-text">Activación de instrumentos de planificación, gestión y financiación</span> que permiten hacer realidad lo planteado en el plan.</li>
                            </ul>

                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 col-12 news-timeline-item-left">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-info">
                        <div class="news-item-img">
                            <img data-src="img/info-6.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, casas de barrio con zonas verdes">
                        </div>
                        <h2>
                            ¿Cómo se financian los proyectos del POT?
                        </h2>
                        <div class="news-item-desc">
                            <p>Los proyectos del POT se financian a lo largo del tiempo, a través de varios Planes Distritales de Desarrollo. <span class="highlight-text">No todos se ejecutan al mismo tiempo ni en una sola Administración.</span> Su financiación puede venir de recursos públicos, asociaciones público privadas, cooperación internacional y aportes del sector privado.</p>

                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="img/info-5.svg" class="img-fluid lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="imagen decorativa, ciudad con sistema de metro">
                    </div>
                    <div class="news-item-info">
                        <h2>
                            ¿Qué es un Plan Distrital de Desarrollo?
                        </h2>
                        <div class="news-item-desc">
                            
                            <p class="mb-3">
                                Es una herramienta fundamental de gestión pública que <span class="highlight-text">marca la hoja de ruta para el progreso de Bogotá en el período de mandato del alcalde</span>. Su alcance es integral, abarcando las dimensiones social, económica, ambiental e institucional, y definiendo objetivos, estrategias, programas y proyectos que buscan mejorar la calidad de vida de la comunidad.
                            </p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 col-12 news-timeline-item-left">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-info">

                        <h2>
                            ¿Cómo se alinea el Plan de Ordenamiento Territorial con el Plan Distrital de Desarrollo?
                        </h2>
                        <div class="news-item-desc">
                            <p><span class="highlight-text">Definiendo las inversiones y acciones concretas para materializar la visión territorial definida en el POT en un horizonte de 4 años.</span> Ambos instrumentos se complementan para asegurar un desarrollo sostenible y equitativo.</p>
                            <p>Además, el PDD es la vía a través de la cual se implementan y territorializan las políticas públicas, transformando los lineamientos generales en iniciativas específicas que responden a las necesidades y prioridades de la ciudadanía.</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 offset-lg-2 col-12 news-timeline-item-right">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="img/info-7.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <h2>
                            ¿Qué son los proyectos de los fondos de Desarrollo Local?
                        </h2>
                        <div class="news-item-desc">

                            <p class="mb-3">
                                <span class="highlight-text text-bold">Son Inversiones que ejecutan las alcaldías locales en temas de infraestructuras de escala local</span> (como parques de proximidad y vías locales), así como en servicios a ciudadanos en temas de mujer, ambiente, participación, emprendimiento entre otros.
                            </p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

            <div class="col-xl-5 col-lg-5 col-12 news-timeline-item-left">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <div class="news-item-info">

                        <h2>
                            ¿Cómo impactan los proyectos de Desarrollo Local?
                        </h2>
                        <div class="news-item-desc">
                            <p><span class="highlight-text">Mejoran la vida de los habitantes de los barrios, al cualificar las infraestructuras que hacen parte de su día a día y que están más cerca de sus viviendas y entornos.</span> Servicios como las transferencias monetarias, por ejemplo, les sirven a los hogares mas vulnerables, contribuyendo a complementar los ingresos del hogar.</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>

        </div>


    </div>
</section>



<!--EXPLORA-->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                <h2>Planificar con visión y ejecutar con coordinación asegura que la inversión pública transforme de forma sostenible la ciudad.</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="h3">
                    Esta plataforma fue creada para que tú puedas seguirle el paso a las inversiones públicas.
                    Entra, explora, revisa los avances, y sobre todo, haz seguimiento y participa.
                </p>
                <p>Busca tu localidad, y descubre los proyectos que están mejorando nuestra ciudad</p>
                <a class="btn btn-cards" href="/MapView">
                    <span>Buscar proyectos en el Mapa</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to action-->
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>

<script>
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header ? header.offsetTop : 0;

    function myFunction() {
        if (header) {
            if (window.scrollY > sticky) {
                header.classList.add("sticky");
                header.classList.add("bg-white");
            } else {
                header.classList.remove("sticky");
                header.classList.remove("bg-white");
            }
        }
    }
</script>












