@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>¿Qué es Mapa de Inversiones Bogotá?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-10">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>¿Mapa de Inversiones Bogotá?</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p class="text-bold">Mapa de Inversiones Bogotá es el monitor de inversión pública de la Alcaldía de Bogotá, un espacio donde se puede hacer seguimiento a los procesos de inversión.</p>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
<div class="subMenuGlosario">
    <div class="container">
        <div class="row navs-shortcuts justify-content-center m-0">
            <div class="navHdisplay" id="navs-header">

                <a class="" style="display: inline;" href="#how-to">
                    <img src="img/ic-how.svg" alt="icono decorativo" /> <span>¿Cómo se construyó?</span>
                </a>
                <a class="" style="display: inline;" href="#key-Aspect">
                    <img src="img/ic-target.svg" alt="icono decorativo" /><span>Aspectos clave</span>
                </a>


            </div>
        </div>
    </div>
</div>
<!--main content-->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8 mb-5">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3Swe0o5R2kM?si=z1_wmxt2xpsKFlbq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-10">

                <p>Es una herramienta que fortalece el Gobierno Abierto y promueve la transparencia en el uso de los recursos públicos, pues involucra a los ciudadanos en la vigilancia y la gestión de los proyectos de inversión.</p>
                <p>En esta plataforma, que garantiza la facilidad de uso, el lenguaje sencillo y el acceso a personas con baja visión, los ciudadanos podrán ubicar los proyectos por ubicación (localidad), sector de la inversión (infraestructura, deporte, etc) dependencia a cargo (qué secretaría lo ejecuta) y estado del proyecto.</p>
                <p>apa de Inversiones Bogotá es una herramienta construida en alianza con el Banco Interamericano de Desarrollo (BID) y su iniciativa MapaInversiones, presente en más de 14 países de América Latina en un esfuerzo de esta respetada institución internacional por promover la transparencia y el acceso a la información pública en la región.</p>

            </div>
        </div>

    </div>
</section>
            <!-- COMO SE DESARROLLÓ-->
            <section class="section howTo bg-gray2" id="how-to">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 mb-4">
                            <div class="section-heading heading-left">
                                <h2>¿Cómo se construyó Mapa de Inversiones Bogotá?</h2>
                            </div>
                            <div class="desc-heading">
                                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in nisi ut leo dapibus suscipit. Sed ullamcorper vitae mi nec consequat. Nulla imperdiet neque purus, eu sagittis mauris fringilla non. Donec condimentum, nisl ac consectetur consectetur, elit tortor mollis nisl, eu ornare tellus tortor ac dui.
                                </p>
                            </div>
                        </div>

            <div class="col-sm-12 col-md-10 col-lg-5 mb-4">
                <div class="carousel workshop-slider" data-flickity='{ "fullscreen": true, "contain": true, "pageDots": false, "autoPlay": 6000, "adaptiveHeight": "true", "groupCells": true }'>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/22/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/7/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/10/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/12/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/15/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/20/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="https://picsum.photos/id/29/1024/768" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>

                </div>

                </div>
                <div class="col-lg-5 mb-3">
                    <ul class="accordion-list">
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">1</span> <span class="h5">Identificamos la necesidad de Bogotá</span></div>
                            <div class="accordion-content content" style="display: none;">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        La falta de información clara sobre los proyectos y contratos que se adelantan desde la Alcaldía de Bogotá, la necesidad de mejorar la rendición de cuentas y el deseo de fomentar tu participación como ciudadano en la supervisión y gestión de los recursos fueron las principales motivaciones para construir Mapa de Inversiones Bogotá

                                        </p>
                                    </div>

                                </div>

                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">2</span><span class="h5">¡Una herramienta creada en equipo! </span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        Praesent nec ex id nunc pharetra vulputate. Proin eget viverra diam. Donec mollis luctus elit, sit amet consectetur ipsum lobortis quis.
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">3</span> <span class="h5">Integración de datos y desarrollo tecnológico</span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                    <p>
                                        Praesent nec ex id nunc pharetra vulputate. Proin eget viverra diam. Donec mollis luctus elit, sit amet consectetur ipsum lobortis quis.
                                    </p>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">4</span> <span class="h5">¡Transformación continua!</span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        Praesent nec ex id nunc pharetra vulputate. Proin eget viverra diam. Donec mollis luctus elit, sit amet consectetur ipsum lobortis quis.
                                    </p>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
                    </div>
                </div>
            </section>





<!-- ASPECTOS CLAVE-->
<section class="section keyAspect" id="key-Aspect">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <h2 class="mb-3">Aspectos clave sobre la plataforma</h2>
            <h3>1. Objetivo</h3>
            <p>Mapa de Inversiones Bogotá busca impulsar la transparencia y estimular la participación ciudadana en la veeduría y la gestión de los recursos públicos. </p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>2. Constante crecimiento</h3>
            <p>Mapa de Inversiones Bogotá es el resultado de la construcción conjunta y está en constante evolución. Esta primera versión de la plataforma es el resultado de talleres con ciudadanos, medios de comunicación, sociedad civil y empresarios. Periódicamente se estarán añadiendo nuevas funcionalidades, secciones y mejoras. En este aspecto, tus consideraciones como ciudadano son fundamentales.</p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>3. Fuentes y proceso de actualización de datos</h3>
            <p>Los datos que se pueden visualizar en Mapa de Inversiones Bogotá se actualizan constantemente con base en los sistemas de información o gestión de las diferentes secretarías, unidades administrativas y departamentos de la Alcaldía.</p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>4. Visión incremental</h3>
            <p>La información que se recoge y visualiza la plataforma tiene un carácter incremental. Por lo tanto, el nivel de desagregación de los datos y las funcionalidades de la plataforma se irán ajustando con el tiempo y de acuerdo a las necesidades. Los comentarios y sugerencias de los ciudadanos y de la sociedad civil son un aspecto central en el carácter evolutivo o incremental de la herramienta.</p>
        </div>
        </div>

    </div>
</section>
<script>
    window.onscroll = function () { myFunction() };

       var header = document.getElementById("navs-header");
       var sticky = header ? header.offsetTop : 0;

       function myFunction() {
           if (header) {
               if (window.scrollY > sticky) {
                   header.classList.add("sticky");
                   header.classList.add("bg-white");
               } else {
                   header.classList.remove("sticky");
                   header.classList.remove("bg-white");
               }
           }
       }
</script>
  