@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Acerca de</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Acerca de MapaInversiones</h1>
                    </div>


                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row justify-content-center">

            
            <div class="col-lg-8 mb-3">
                <div class="section-heading heading-left">
                    <h2>¿Qué es MapaInversiones?</h2>
                </div>
                <div class="videoBox mb50 text-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/489059096?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
                        <p><a href="https://vimeo.com/489059096">MapaInversiones: transparencia e integridad en el uso de los recursos públicos</a> from <a href="https://vimeo.com/elbid">el BID - the IDB</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mb-3">

                <p>MapaInversiones es una iniciativa del Banco Interamericano de Desarrollo (BID) que busca mejorar la transparencia y la eficiencia en los países de América Latina y el Caribe a partir del desarrollo e implementación de plataformas de gestión de la información.</p>
                <p>La plataforma MapaInversiones visualiza y mapea proyectos de inversión pública. Gracias a la plataforma, los ciudadanos y las ciudadanas pueden monitorear en tiempo real dónde y cómo invierte el Gobierno.</p>
                <p>Con ello se puede contar con información de calidad para poder tomar mejores decisiones y las empresas pueden optimizar su competitividad y sus planes de negocios gracias a un entorno de información abierta.</p>
                <p>La iniciativa MapaInversiones se inspira en su precursora MapaRegalías en Colombia, publicada en 2019. Tras el lanzamiento de MapaRegalías en Colombia, los proyectos de inversión pública financiados con regalías mostraron un aumento promedio en la eficiencia de la ejecución física de aproximadamente 8 puntos porcentuales.</p>
                <p>Para desarrollar MapaInversiones el BID armó un equipo de primer nivel que incluye especialistas en desarrollo de software, expertos en gestión de bases de datos, técnicos responsables por la realización de pruebas y medición de calidad de información, diseñadores gráficos y especialistas en gestión pública y transparencia.</p>
                <p>Desde 2019 el BID y Microsoft iniciaron una nueva fase de colaboración alrededor de MapaInversiones para fortalecer las capacidades de los países en el análisis de datos e inteligencia artificial, recopilar información y mejorar la toma de decisiones.</p>
                <p>Con el advenimiento de la pandemias, desastres naturales y las medidas extraordinarias para la atención de la emergencia, MapaInversiones sumó una sección específica para la publicación y exploración de datos específicos sobre contratos, programas de ayuda y otras medidas de gobierno.</p>
                <p>Para las visualizaciones de la plataforma se contó con el apoyo técnico de la empresa Datawheel, asociada al Massachusetts Institute of Technology (MIT). El diseño fue testeado en la práctica con usuarios-tipo, con el objetivo de asegurar la máxima usabilidad e intuitividad.</p>

                <p>MapaInversiones contribuye a la alineación del país con compromisos internacionales como por ejemplo la Alianza para el Gobierno Abierto (OGP), el Estándar de Datos para las Contrataciones Abiertas (OCDS) y el Estándar para la Transparencia en el Sector de la Construcción (CoST). Además, también ayuda a consolidar los avances en materia de Transparencia y Gobierno Abierto.</p>
                <p>Esta plataforma fue desarrollada por el BID en coordinación con el Ministerio de la Presidencia, el Ministerio de Economía, Planificación y Desarrollo, el Ministerio de Hacienda y la Dirección General de Contrataciones Públicas. El apoyo del BID fue posible gracias a la contribución del Fondo de Transparencia (AAF) del BID, cuyos donantes incluyen a Noruega, Canadá, Italia, Suecia y Mastercard Corporation. Por su parte, Microsoft Corporation donó al BID los créditos de servicio de Microsoft Azure, que fueron utilizados para desarrollar y probar la plataforma en la nube.</p>

            </div>
            
            <div class="col-lg-8 mb-3">
                <h2 class="mb-3">Aspectos clave sobre la plataforma</h2>
                <h3>1. Objetivo</h3>
                <p>El objetivo de la plataforma es impulsar la transparencia, estimular la participación y el control de la ciudadanía en el gasto público, a partir de canales para hacer sugerencias o realizar denuncias.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h3>2. Alcance</h3>
                <p>La plataforma integra y visualiza la información disponible sobre el presupuesto y la ejecución de obras consolidando los datos provistos por el Gobierno de.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h3>3. Fuentes y proceso de actualización de datos</h3>
                <p>Los datos integrados y visualizados en la plataforma se actualizan automáticamente con base en los sistemas de información o gestión que utilizan las entidades. Es decir que, cuando las entidades actualicen los datos en sus propios sistemas, la plataforma recogerá y visualizará datos actualizados de modo dinámico.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h3>4. Visión incremental</h3>
                <p>La información que se recoge y visualiza la plataforma tiene un carácter incremental. Por lo tanto, el nivel de desagregación de los datos y las funcionalidades de la plataforma se irán ajustando con el tiempo y de acuerdo a las necesidades. Los comentarios y sugerencias de los ciudadanos y de la sociedad civil son un aspecto central en el carácter evolutivo o incremental de la herramienta.</p>
            </div>

        </div>

    </div>
</section>

  