@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Acerca de</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Acerca de Honduras Inversiones</h1>
                    </div>
                    <div class="banner-main-desc">
                        <span class="h5">Aspectos clave sobre la Plataforma</span>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <h2>Colaboración</h2>
                <p>Esta plataforma fue desarrollada con el apoyo del Banco Interamericano de Desarrollo, como administrador del Fondo de Transparencia. Sin embargo, las opiniones expresadas en esta plataforma son exclusivas de sus autores y administradores y no reflejan necesariamente el punto de vista del Banco Interamericano de Desarrollo, su Directorio Ejecutivo o los países que representa.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Alcance</h2>
                <p>La plataforma integra y visualiza información disponible sobre las diferentes etapas del ciclo presupuestario que van desde la formulación, aprobación, modificaciones y ejecución. Además, incluye información pública disponibles de las contrataciones pública, incluyendo las líneas presupuestales asignadas a estas. La cobertura de las instituciones se basa en los numerales 1,2 y 3 del artículo 2 de la Ley Orgánica de Presupuesto. </p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Objetivo</h2>
                <p>El objetivo de la plataforma es impulsar la transparencia y rendición de cuentas; además se busca fomentar los procesos de auditoría ciudadana a través del control y seguimiento del ciclo presupuestario y las contrataciones públicas.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Fuentes</h2>
                <p>La plataforma integra información proveniente de los sistemas de gestión de la información y bases de datos de la <a href="https://www.sefin.gob.hn/" target="_blank">Secretaría de Finanzas (SEFIN)</a> y la <a href="https://oncae.gob.hn/" target="_blank">Oficina Normativa de Contratación y Adquisiciones del Estado (ONCAE) de Honduras</a></p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Actualización de Información</h2>
                <p>Los datos integrados y visualizados en la plataforma se actualizan automáticamente con base en los sistemas de información o gestión que utilizan las instituciones. Es decir, que cuando las instituciones actualicen los datos en los sistemas de planificación y presupuesto, la plataforma recogerá y visualizará la información actualizada. Los puentes de información (ETLs) entre la plataforma y las bases de datos o sistemas de información que gestionan las instituciones se refrescan cada 24 horas</p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Visión Incremental</h2>
                <p>La información que se recoge y visualiza la plataforma tiene un carácter incremental. Por lo tanto, el nivel de desagregación de los datos y las funcionalidades de la plataforma se irán ajustando con el tiempo y de acuerdo a las necesidades. Los comentarios y sugerencias de los ciudadanos y de la sociedad civil son un aspecto central en el carácter evolutivo o incremental de la herramienta</p>
            </div>

        </div>

    </div>
</section>
<!--<section class="section section-light-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Visión incremental</h2>
                <p>Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. </p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">1</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">2</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">3</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>¿Cómo pueden participar los ciudadanos?</h2>
                <p>Nulla facilisi. Etiam at sapien id arcu rhoncus laoreet. Nulla non tristique urna. Vivamus finibus faucibus justo, mollis sodales eros varius sed. Suspendisse sapien sem, consectetur posuere venenatis eget, iaculis eget nisl. Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. Nulla ultrices lacinia neque, eget molestie purus placerat id. Ut suscipit mauris in dui lobortis, ut varius nibh aliquet. Ut sollicitudin sollicitudin est, non tempus quam cursus sed. Sed mollis pulvinar lacus, a viverra felis tempor a. Vestibulum congue mollis felis nec pharetra. Nam a arcu sed neque iaculis hendrerit.</p>
            </div>
        </div>

    </div>
</section>-->


@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        //Muestra las preguntas de la primera categoria
        var c = document.getElementsByClassName("categoriapregunta");
        id = "pregunta " + c[0].id;
        Mostrar("pregunta", id)
        //Muestra las palabras del glosario de la primera letra
        Mostrar("palabra", "palabra A")
***REMOVED***);

    $(document).on('click', '.categoriapregunta', function (e) {
        id = "pregunta " + this.id;
        Mostrar('pregunta', id);

***REMOVED***);

    $(document).on('click', '.btn-section', function (e) {
        id = "sect-tab " + this.id;
        Mostrar('sect-tab', id);

***REMOVED***);


    $(document).on('click', '.indice', function (e) {
        id = "palabra " + this.id;
        Mostrar('palabra', id);

***REMOVED***);
    function Mostrar(ocultar, mostrar) {
        var y = document.getElementsByClassName(ocultar);
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.display = "none";
    ***REMOVED***
        var x = document.getElementsByClassName(mostrar);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "block";
    ***REMOVED***
***REMOVED***
</script>
