@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>¿Qué es ¡Pa’ que Veás!?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-10">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>¿Qué es ¡Pa’ que Veás!?</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p class="text-bold">¡Pa’ que Veás! es el monitor de inversión pública de la Alcaldía de Cali, un espacio donde caleños y caleñas pueden hacer seguimiento a los procesos de inversión y el avance de los más de 800 proyectos que desarrolla la Administración Distrital en las 22 comunas y los 15 corregimientos de la ciudad.</p>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8 mb-5">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VZzliLT0HmU?si=vtliTDR3nD698oMK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-10">

                <p>Es una herramienta que fortalece el Gobierno Abierto y promueve la transparencia en el uso de los recursos públicos, pues involucra a los ciudadanos en la vigilancia y la gestión de los proyectos de inversión.</p>
                <p>En esta plataforma, que garantiza la facilidad de uso, el lenguaje sencillo y el acceso a personas con baja visión, los ciudadanos podrán ubicar los proyectos por ubicación (comuna o corregimiento), sector de la inversión (infraestructura, deporte, etc) dependencia a cargo (qué secretaría lo ejecuta) y estado del proyecto. ¡Pa’ que Veás cómo estamos recuperando a Cali!</p>
                <p>Con ¡Pa’ que Veás! Cali se convierte en la primera ciudad de América Latina en tener un monitor de inversión pública, lo que nos hace pioneros en transparencia a nivel internacional.	</p>
                <p>¡Pa’ que Veás! es una herramienta construida en alianza con el Banco Interamericano de Desarrollo (BID) y su iniciativa MapaInversiones, presente en más de 14 países de América Latina en un esfuerzo de esta respetada institución internacional por promover la transparencia y el acceso a la información pública en la región.</p>

            </div>
        </div>

    </div>
</section>
            <!-- COMO SE DESARROLLÓ-->
            <section class="section howTo bg-gray2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 mb-4">
                            <div class="section-heading heading-left">
                                <h2>¿Cómo se construyó ¡Pa' que Veás!?</h2>
                            </div>
                            <div class="desc-heading">
                                <p>
                                    <span class="text-bold">¡Pa’ que Veás! es una herramienta diseñada pensando en vos. </span>
                                    Sus principios son la transparencia, la participación ciudadana y la eficiencia en la gestión de los recursos públicos. La creación de la plataforma contó con varias etapas que permitieron identificar necesidades para optimizar tu experiencia como ciudadano e implementar mecanismos de control social efectivos.
                                </p>
                            </div>
                        </div>

            <div class="col-sm-12 col-md-10 col-lg-5 mb-4">
                <div class="carousel workshop-slider" data-flickity='{ "fullscreen": true, "contain": true, "pageDots": false, "autoPlay": 6000, "adaptiveHeight": "true", "groupCells": true }'>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop1_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop2_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop3_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop4_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop5_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop6_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>
                    <div class="carousel-cell"><img class="img-fluid" src="~/img/workshop7_XL.jpg" alt="Grupo de personas participantes en taller de experiencia de usuario" /></div>

                </div>
                <p>
                    <small>Taller de Usabilidad y participación ciudadana realizado durante los dias 4, 5 y 6 de diciembre del 2024</small>
                </p>
                </div>
                <div class="col-lg-5 mb-3">
                    <ul class="accordion-list">
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">1</span> <span class="h5">Identificamos la necesidad de Cali</span></div>
                            <div class="accordion-content content" style="display: none;">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        La falta de información clara sobre los proyectos y contratos que se adelantan desde la Alcaldía de Cali, la necesidad de mejorar la rendición de cuentas y el deseo de fomentar tu participación como ciudadano en la supervisión y gestión de los recursos fueron las principales motivaciones para construir ¡Pa’ que Veás!

                                        </p>
                                    </div>

                                </div>

                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">2</span><span class="h5">¡Una herramienta creada en equipo! </span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        <span class="text-bold">El pasado diciembre, los equipos del BID y la Alcaldía de Cali desarrollamos talleres de usabilidad con líderes sociales, representantes de la sociedad civil y medios de comunicación.</span>
                                        Estos espacios nos permitieron definir una interfaz clara, con visualizaciones interactivas y una navegación intuitiva, facilitando tu acceso a la información sobre la inversión pública desde la Alcaldía. ¡Agradecemos a todos los que hicieron posible este gran paso para la transparencia!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">3</span> <span class="h5">Integración de datos y desarrollo tecnológico</span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                    <p>
                                        <span class="text-bold">¡Pa’ que Veás! se diseñó para consolidar información de múltiples fuentes oficiales, garantizando su actualización constante y su compatibilidad con estándares abiertos de datos.</span> Se implementaron sistemas de visualización avanzada y mapas interactivos que facilitan la búsqueda y la comprensión de la información sobre el estado y el progreso de los proyectos de inversión.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                        <div class="accordion-trigger"><span class="big-number">4</span> <span class="h5">¡Transformación continua!</span></div>
                            <div class="accordion-content content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <p>
                                        <span class="text-bold">¡Pa’ que Veás! es una herramienta que está en constante evolución.</span>
                                         Tras su lanzamiento, la plataforma será puesta a prueba en escenarios reales, socializada con líderes comunitarios y diferentes grupos de la sociedad civil para detectar áreas de mejora y optimizar las funcionalidades. Nuestro equipo trabaja constantemente para incorporar nuevas tecnologías y mejores prácticas para potenciar ¡Pa’ que Veás!
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
                    </div>
                </div>
            </section>





<!-- ASPECTOS CLAVE-->
<section class="section keyAspect">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-10 mb-3">
            <h2 class="mb-3">Aspectos clave sobre la plataforma</h2>
            <h3>1. Objetivo</h3>
            <p>¡Pa' que Veás! busca impulsar la transparencia y estimular la participación ciudadana en la veeduría y la gestión de los recursos públicos. </p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>2. Constante crecimiento</h3>
            <p>¡Pa' que Veás! es el resultado de la construcción conjunta y está en constante evolución. Esta primera versión de la plataforma es el resultado de talleres con ciudadanos, medios de comunicación, sociedad civil y empresarios. Periódicamente se estarán añadiendo nuevas funcionalidades, secciones y mejoras. En este aspecto, tus consideraciones como ciudadano son fundamentales.</p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>3. Fuentes y proceso de actualización de datos</h3>
            <p>Los datos que se pueden visualizar en ¡Pa' que Veás! se actualizan constantemente con base en los sistemas de información o gestión de las diferentes secretarías, unidades administrativas y departamentos de la Alcaldía.</p>
        </div>
        <div class="col-lg-10 mb-3">
            <h3>4. Visión incremental</h3>
            <p>La información que se recoge y visualiza la plataforma tiene un carácter incremental. Por lo tanto, el nivel de desagregación de los datos y las funcionalidades de la plataforma se irán ajustando con el tiempo y de acuerdo a las necesidades. Los comentarios y sugerencias de los ciudadanos y de la sociedad civil son un aspecto central en el carácter evolutivo o incremental de la herramienta.</p>
        </div>
        </div>

    </div>
</section>

  