@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Marco Legal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Marco Legal</h1>
                    </div>
                    <!--<div class="banner-main-desc">
        <p>ASPECTOS CLAVE SOBRE EL MÓDULO</p>

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <h2>Transparencia y Acceso a la Información</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ipsum id diam aliquet condimentum. Integer dapibus placerat neque, vel elementum nisl luctus eget. Phasellus egestas accumsan ante, non sodales massa maximus a. Nunc suscipit lacus vel dui porta bibendum. Maecenas bibendum felis augue, eu congue libero ultrices vitae.
                </p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Presupuesto, Inversión Pública y Contrataciones </h2>
                <p>
                    Aenean porttitor risus blandit, lacinia nisl sit amet, posuere lorem. Maecenas a varius velit. Quisque sagittis ligula non fermentum aliquet. Vestibulum orci nisl, porttitor ac mauris a, congue rutrum orci. Sed tincidunt quam sagittis lorem auctor tincidunt. Vestibulum a ante in libero iaculis commodo. Sed in lacus eget urna tincidunt cursus quis ut orci. Proin vel est eget justo finibus posuere.
                </p>
                <p>Nam in congue neque. Etiam eleifend suscipit venenatis. Suspendisse efficitur fringilla ante, quis convallis libero suscipit ut. Praesent mollis finibus congue. Integer venenatis, diam in lacinia congue, urna odio porta augue, sed euismod tellus tellus fringilla tellus. Mauris sed enim et ligula euismod aliquet. Cras nisl nisl, posuere nec placerat at, tincidunt id metus. Maecenas placerat tincidunt lorem in congue. Vivamus elit nisl, hendrerit sit amet dignissim ut, ullamcorper et nibh. Sed vel turpis tincidunt, pretium dolor ac, volutpat sem. Aliquam eget lacus quis mi pellentesque porta non et massa.</p>
                <p>Curabitur egestas augue lacus, et molestie nibh dictum vitae. Donec molestie fermentum sodales. Pellentesque ac orci eu urna tristique consequat. Sed efficitur metus ex, id lacinia metus fermentum non. In ac tellus sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vel lacus turpis. Aliquam erat volutpat. Phasellus quis lobortis nunc, ut aliquet nisl.</p>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        //Muestra las preguntas de la primera categoria
        var c = document.getElementsByClassName("categoriapregunta");
        id = "pregunta " + c[0].id;
        Mostrar("pregunta", id)
        //Muestra las palabras del glosario de la primera letra
        Mostrar("palabra", "palabra A")
    });

    $(document).on('click', '.categoriapregunta', function (e) {
        id = "pregunta " + this.id;
        Mostrar('pregunta', id);

    });

    $(document).on('click', '.btn-section', function (e) {
        id = "sect-tab " + this.id;
        Mostrar('sect-tab', id);

    });


    $(document).on('click', '.indice', function (e) {
        id = "palabra " + this.id;
        Mostrar('palabra', id);

    });
    function Mostrar(ocultar, mostrar) {
        var y = document.getElementsByClassName(ocultar);
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.display = "none";
        }
        var x = document.getElementsByClassName(mostrar);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "block";
        }
    }
</script>
