@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Marco Legal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Marco Legal</h1>
                    </div>
                    <!--<div class="banner-main-desc">
        <p>ASPECTOS CLAVE SOBRE EL MÓDULO</p>

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <h2>Transparencia y Acceso a la Información</h2>
                <h5> Ley General de Libre Acceso a la Información Pública, No. 200-04<br /><br /></h5>
                <p>
                    La Constitución de la República Dominicana en su Artículo 49, inciso 2 establece que todos los medios de información tienen libre acceso a las fuentes noticiosas oficiales y privadas de interés público, de conformidad con la ley.<br /><br />
                    En 2004 se aprueba la Ley General de Libre Acceso a la Información Pública No. 200-04 con el objetivo de que los ciudadanos puedan analizar, juzgar y evaluar en forma completa los actos de sus representantes y estimular la transparencia en los actos del gobierno y de la administración pública. Esta Ley y su Reglamento garantizan que cualquier ciudadano o ciudadana pueda solicitar información ante las instituciones.<br /><br />
                    De acuerdo con el Artículo 6 de dicha ley, la Administración Pública, tanto centralizada como descentralizada, así como cualquier otra entidad que ejerza funciones públicas o ejecute presupuesto público, tienen la obligación de proveer la información financiera relativa al presupuesto público y mantenerla actualizada. Así como información referida a: programas y proyectos, sus presupuestos, plazos, ejecución y supervisión; llamado a licitaciones, concursos, compras, gastos y resultados; Listado de funcionarios; listado de beneficiarios de programas asistenciales; Estado de cuentas de la deuda pública e índices, estadísticas y valores oficiales.<br /><br />
                </p>
            </div>
            <div class="col-lg-8 mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://www.transparenciafiscal.gob.do/documents/20127/53350/Ley+No+498-06+-+Planificacion+e+Inversion+Publica.pdf/90cb4f53-6b21-61eb-6013-cdebb125ee67" target="_blank">
                            <div class="btn btn-outlined">
                               <span>Ver Documento</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mb-3 py-4">
                <h2>Presupuesto, Inversión Pública y Contrataciones </h2>
                <p>
                    Mediante la Ley 496-06 se crea la Secretaría de Economía, Planificación y Desarrollo (hoy Ministerio de Economía, Planificación y Desarrollo - MEPyD), donde se le otorga la rectoría del Sistema Nacional de Planificación e Inversión Pública.<br /><br />
                    La Ley de Planificación e Inversión Pública, 498-06 establece que el Sistema Nacional de Planificación e Inversión Pública está integrado por el conjunto de principios, normas, órganos y procesos a través de los cuales se fijan las políticas, objetivos, metas y prioridades del desarrollo económico y social evaluando su cumplimiento.<br /><br />
                    El Sistema Nacional de Planificación e Inversión Pública está relacionado con los Sistemas de Presupuesto, Crédito Público, Tesorería, Contabilidad Gubernamental, Compras y Contrataciones, Administración de Recursos Humanos, Administración de Bienes Nacionales y Control Interno.<br /><br />
                    La Ley 498-06 establece que el MEPyD es responsable de la inclusión de los proyectos de inversión en el proyecto de presupuesto de ingresos y ley de gastos públicos.<br /><br />
                    En materia de Contratación Pública, la Ley No. 340-06 sobre Compras y Contrataciones Públicas tiene por objeto establecer los principios y normas generales que rigen la contratación pública, relacionada con los bienes, obras, servicios y concesiones del Estado, así como las modalidades que dentro de cada especialidad puedan considerarse.
                </p>
            </div>
           <div class="col-lg-8 mb-3">
               <div class="row">
                   <div class="col-md-4">
                        <a href="https://mepyd.gob.do/wp-content/uploads/drive/DGIP/Normas%20Tecnicas/Normas%20Tecnicas%20del%20Sistema%20Nacional%20de%20Inversion%20Publica%202017.pdf" target="_blank">
                            <div class="btn btn-outlined">
                                <span>Ver Norma Técnica</span>
                            </div>
                        </a>
                   </div>
                    <div class="col-md-4">
                        <a href="https://www.transparenciafiscal.gob.do/documents/20127/53555/Ley+340-06+Compras+y+Contrataciones.pdf/bcb22dfb-dfec-beb8-93f9-0246362ed6e0" target="_blank">
                            <div class="btn btn-outlined">
                                <span>Ver Ley No. 340-06</span>
                            </div>
                        </a>
                    </div>
               </div>
           </div>

        </div>
    </div>
</section>
<!--<section class="section section-light-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Visión incremental</h2>
                <p>Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. </p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">1</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">2</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">3</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>¿Cómo pueden participar los ciudadanos?</h2>
                <p>Nulla facilisi. Etiam at sapien id arcu rhoncus laoreet. Nulla non tristique urna. Vivamus finibus faucibus justo, mollis sodales eros varius sed. Suspendisse sapien sem, consectetur posuere venenatis eget, iaculis eget nisl. Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. Nulla ultrices lacinia neque, eget molestie purus placerat id. Ut suscipit mauris in dui lobortis, ut varius nibh aliquet. Ut sollicitudin sollicitudin est, non tempus quam cursus sed. Sed mollis pulvinar lacus, a viverra felis tempor a. Vestibulum congue mollis felis nec pharetra. Nam a arcu sed neque iaculis hendrerit.</p>
            </div>
        </div>

    </div>
</section>-->
@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        //Muestra las preguntas de la primera categoria
        var c = document.getElementsByClassName("categoriapregunta");
        id = "pregunta " + c[0].id;
        Mostrar("pregunta", id)
        //Muestra las palabras del glosario de la primera letra
        Mostrar("palabra", "palabra A")
    });

    $(document).on('click', '.categoriapregunta', function (e) {
        id = "pregunta " + this.id;
        Mostrar('pregunta', id);

    });

    $(document).on('click', '.btn-section', function (e) {
        id = "sect-tab " + this.id;
        Mostrar('sect-tab', id);

    });


    $(document).on('click', '.indice', function (e) {
        id = "palabra " + this.id;
        Mostrar('palabra', id);

    });
    function Mostrar(ocultar, mostrar) {
        var y = document.getElementsByClassName(ocultar);
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.display = "none";
        }
        var x = document.getElementsByClassName(mostrar);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "block";
        }
    }
</script>
