@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Política de privacidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Política de Privacidad</h1>
                    </div>
                    <!--<div class="banner-main-desc">
        <p>ASPECTOS CLAVE SOBRE EL MÓDULO</p>

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content politicas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 id="p1">Declaración de protección de datos</h2>
                <p>Nos complace que visite la plataforma.</p>
            </div>

        </div>
        <div class="clearfix py-3"></div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <div class="wrap-side-links bgSoftGray p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#p1" title="ir a sección general">1. General <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p2" title="ir a sección Adquisición y procesamiento">2. Adquisición y procesamiento <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p3" title="ir a sección Uso y transmisión">3. Uso y transmisión <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p4" title="ir a sección Opciones y Contactos">4. Opciones y Contactos <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p5" title="ir a sección Uso de Cookies">5. Uso de Cookies <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p6" title="ir a sección Uso de herramientas de terceros">6. Uso de herramientas de terceros <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p7" title="ir a sección Cifrado SSL">7. Cifrado SSL <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p8" title="ir a sección Aviso de seguridad">8. Aviso de seguridad <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p9" title="ir a sección mal uso de informacion">9. Con relación al mal uso de la información <i class="material-icons md-24">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 mb-3">

                <h2 id="p1">1. General</h2>
                <p>La política de privacidad de la Secretaría de Fianzas concede la máxima importancia a la protección de la privacidad de sus usuarios. Esto se aplica en particular al tratamiento de datos personales. No es necesario que revele datos personales cuando utilice nuestro sitio web. Sin embargo, en algunos casos necesitamos su nombre, número de DNI (Documento Nacional de Identificación) y dirección de correo electrónico, así como otros datos, para poder procesar su solicitud de información o generación de recibos. En los casos en que sea necesario, se lo indicaremos según corresponda. Además, sólo almacenaremos y procesaremos los datos que usted nos haya proporcionado de forma voluntaria o automática.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p2">2. Adquisición y procesamiento</h2>
                <p>Cada acceso a nuestro sitio web y todas las llamadas de datos subyacentes se registran. Éstos incluyen: los nombres de los datos solicitados y la fecha y hora de las solicitudes, el volumen de datos transmitidos, la notificación de las solicitudes correctas y el navegador web y el dominio del solicitante. Este registro es por razones estadísticas internas. También se registran las direcciones IP de los ordenadores desde los que se emitieron las solicitudes. En el futuro, los datos personales sólo se almacenarán si usted los ha proporcionado libremente en relación con una pregunta o un registro.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p3">3. Uso y transmisión</h2>
                <p>Trataremos confidencialmente los datos personales que usted nos ha revelado y sólo los revelaremos a terceros si así lo requiere el procesamiento del pedido, por ejemplo, pasando los datos de las solicitudes a los responsables de dar respuesta. En ningún caso venderemos o alquilaremos sus datos personales o los datos que pudieran estar vinculados a usted a terceros para que los utilicen. Los datos personales sólo se utilizarán para procesar sus solicitudes, generación de recibos, responder a sus preguntas y para la compilación interna de estadísticas anónimas. De existir alguna excepción se solicitará su consentimiento para el uso posterior de los datos que ha proporcionado y la transmisión de datos a terceros. Con su consentimiento, transmitiremos sus datos recopilados y almacenados a terceros bajo la protección de acuerdos contractuales, en la medida en que sea necesario para sus intereses. Por supuesto, estos terceros están llamados y obligados a cumplir con las normas legales de protección de datos.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p4">4. Opciones y Contactos</h2>
                <p>Usted puede ponerse en contacto con nuestro responsable de protección de datos si tiene preguntas o inquietudes a la siguiente dirección:</p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="material-icons md-24">pin_drop</i> Calle falsa 123</li>
                        <li class="list-group-item"><i class="material-icons md-24">account_balance</i> Secretaria xxxxxx </li>
                        <li class="list-group-item"><i class="material-icons md-24">perm_phone_msg</i> Teléfono: +1 2222-5555  |   Fax: +1 222-5556</li>
                        <li class="list-group-item"><span class="material-icons md-24">mail</span> Correo Electrónico: <a href="mailto:correo@dominioentidad.com">transparencia@dominioentidad.com</a></li>
                    </ul>
                </div>
                <div class="clearfix py-3"></div>
                <h2 id="p5">5. Uso de Cookies</h2>
                <p>Para que su visita a nuestro sitio web sea más atractiva y para permitir el uso de ciertas funciones, empleamos las llamadas cookies en varios sitios. Al hacerlo, se depositan pequeños archivos de texto en su dispositivo terminal. Las cookies empleadas por nosotros serán borradas después de terminar la sesión de su navegador, cerrando así su navegador (las llamadas Cookies de Sesión). Usted puede ajustar su navegador para que le notifique sobre la configuración de nuevas cookies y decidir si acepta cookies para ciertos casos o si las rechaza en general. Con la disminución de cookies, la funcionalidad de nuestro sitio web puede ser limitada.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p6">6. Uso de herramientas de terceros</h2>
                <p>En la siguiente sección encontrarás todas las herramientas de terceros que La Secretaría de Finanzas utiliza:</p>
                <div class="row">
                    <!--DATOS GOOGLE Analytics-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title h3">Google Analytics</div>
                            <div class="card-subtitle mb-2">Este es un servicio de analítica web</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="h5">Empresa de procesamiento</span>
                                        <p>
                                            Google Ireland Limited<br />
                                            Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Finalidad de los datos</span>
                                        <p>
                                            Analítica Web
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Atributos de los datos</span>
                                        <ul>
                                            <li>Dirección IP (anonimizada)</li>
                                            <li>Información del navegador (tipo de navegador, páginas de referencia / salida, los archivos vistos en nuestro sitio, sistema operativo, sello de fecha / hora y / o datos de flujo de clics).</li>
                                            <li>Datos de uso (vistas, clics)</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Datos recopilados</span>
                                        <p>Esta lista representa todos los datos (personales) que se recopilan por o a través el uso de este servicio.</p>
                                        <ul>
                                            <li>Dirección IP</li>
                                            <li>Fecha y hora de visita</li>
                                            <li>Datos de uso</li>
                                            <li>Ruta de clic</li>
                                            <li>Actualizaciones de la aplicación</li>
                                            <li>Información del navegador</li>
                                            <li>Información del dispositivo</li>
                                            <li>Compatibilidad con JavaScript</li>
                                            <li>Páginas visitadas</li>
                                            <li>URL de referencia</li>
                                            <li>Descargas</li>
                                            <li>Información sobre la ubicación</li>
                                            <li>Interacciones de widgets</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Período de conservación</span>
                                        <p>Los datos se eliminarán tan pronto como ya no sean necesarios para los fines de procesamiento.</p>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank" rel="noopener" >Más información y exclusión</a></span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://safety.google/privacy/privacy-controls/" target="_blank" rel="noopener" >aquí</a> para desactivar este encargado en todos los dominios</span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener" >aquí</a> para leer la política de privacidad del procesador de datos </span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://policies.google.com/technologies/cookies?hl=en" target="_blank" rel="noopener" >Cookie Policy </a></span>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!--DATOS youtube-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title h3">YouTube Video</div>
                            <div class="card-subtitle mb-2">Este es un servicio de reproducción de video.</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="h5">Empresa de procesamiento</span>
                                        <p>
                                            Google Ireland Limited<br />
                                            Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Finalidad de los datos</span>
                                        <ul>
                                            <li>Mostrando vídeos</li>
                                            <li>Tecnologías utilizadas</li>
                                            <li>Cookies (si el "Modo de privacidad mejorada" no está activado)</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Atributos de los datos</span>
                                        <ul>
                                            <li>Referal URL</li>
                                            <li>Información si visitó el sitio antes</li>
                                            <li>Identificar si ha iniciado sesión en su cuenta de Google</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Datos recopilados</span>
                                        <p>Esta lista representa todos los datos (personales) que se recopilan por o a través el uso de este servicio.</p>
                                        <ul>
                                            <li>Dirección IP</li>
                                            <li>URL de referencia</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Más información y exclusión</span>
                                        <p>Haga clic <a href="https://safety.google/privacy/privacy-controls/" target="_blank" rel="noopener" >aquí</a> para desactivar este encargado en todos los dominios </p>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://policies.google.com/privacy?hl=en" rel="noopener" >aquí</a> para leer la política de privacidad del procesador de datos </span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://policies.google.com/technologies/cookies?hl=en" target="_blank" rel="noopener" >Cookie Policy </a></span>

                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix py-3"></div>
                <h2 id="p7">7. Cifrado SSL</h2>
                <p>Para la seguridad y la protección durante la transmisión de contenidos confidenciales como, por ejemplo, consultas, esta página utiliza el cifrado SSL. Puede detectar una conexión cifrada desde el símbolo de candado en la fila del navegador y que la dirección URL cambia de 'http://' a 'https://'. Si la encriptación SSL está activada, los datos que usted transmite no pueden ser leídos por terceros.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p8">8. Aviso de seguridad</h2>
                <p>Le aseguramos que almacenamos sus datos personales con la ayuda de todas las posibilidades técnicas y organizativas para que no sean accesibles a terceros. Al comunicarnos por correo electrónico, no podemos garantizar la seguridad completa de los datos, por lo que le recomendamos que envíe información confidencial por correo postal o presentándose físicamente a nuestras oficinas.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p9">9. Con relación al mal uso de la información</h2>
                <p>La Secretaría de Finanzas podrá impedir el acceso al sitio a las personas o entidades que infrinjan las buenas prácticas o en uso de técnicas no éticas intenten tener acceso a la información resguarda o hagan uso indebido del mismo.</p>
                <p>Cualquier controversia o conflicto se resolverá bajo las leyes de la República del País.</p>

            </div>


        </div>
    </div>
</section>
<!--<section class="section section-light-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Visión incremental</h2>
                <p>Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. </p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">1</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">2</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">3</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>¿Cómo pueden participar los ciudadanos?</h2>
                <p>Nulla facilisi. Etiam at sapien id arcu rhoncus laoreet. Nulla non tristique urna. Vivamus finibus faucibus justo, mollis sodales eros varius sed. Suspendisse sapien sem, consectetur posuere venenatis eget, iaculis eget nisl. Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. Nulla ultrices lacinia neque, eget molestie purus placerat id. Ut suscipit mauris in dui lobortis, ut varius nibh aliquet. Ut sollicitudin sollicitudin est, non tempus quam cursus sed. Sed mollis pulvinar lacus, a viverra felis tempor a. Vestibulum congue mollis felis nec pharetra. Nam a arcu sed neque iaculis hendrerit.</p>
            </div>
        </div>

    </div>
</section>-->
@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@

