@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Política de privacidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Política de Privacidad</h1>
                    </div>
                    <!--<div class="banner-main-desc">
        <p>ASPECTOS CLAVE SOBRE EL MÓDULO</p>

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content politicas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 id="p1">Manejo de datos</h2>
                <p>Para participar el usuario deberá registrarse y proporcionar previamente los datos requeridos en el formulario y aceptar los términos y condiciones. Estos datos serán tratados de acuerdo con la siguiente descripción:</p>
            </div>

        </div>
        <div class="clearfix py-3"></div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <div class="wrap-side-links bgSoftGray p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#p1" title="ir a sección Finalidad del tratamiento">1. Finalidad del tratamiento <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p2" title="ir a sección Adquisición y procesamiento">2. Adquisición y procesamiento <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p3" title="ir a sección Validez">3. Validez <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p4" title="ir a sección Marco legal">4. Marco legal <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p5" title="ir a sección Actualización">5. Actualización <i class="material-icons md-24">chevron_right</i></a></li>
                        <li class="list-group-item"><a href="#p6" title="ir a sección Actualización">6. Uso de herramientas de terceros <i class="material-icons md-24">chevron_right</i></a></li>
                         </ul>
                </div>
            </div>
            <div class="col-lg-8 mb-3">

                <h2 id="p1">1. Finalidad del tratamiento</h2>
                <p>El objetivo de los datos es habilitar a las personas para que participan activamente en MapaInversiones, para uso estadístico de los resultados derivados de los procesos de participación ciudadana, así como para el envío de correos electrónicos de información.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p2">2. Adquisición y procesamiento</h2>
                <p>MapaInversiones no comparte ni revela los datos de los usuarios, excepto cuando haya sido autorizada por el mismo o cuando así lo establezca la Ley de Protección de Datos Personales Núm. 172-13.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p3">3. Validez</h2>
                <p>No serán válidos para participar dentro de la plataforma los formularios de registro que se encuentren incompletos. Es requisito para participar que todos y cada uno de los datos indicados sean verdaderos, exactos, vigentes y auténticos.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p4">4. Marco legal</h2>
                <p>El proceso de solicitud de información se realizará bajo el amparo de la Ley de Acceso a la información Pública Número 200-04.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p5">5. Actualización</h2>
                <p>Se garantiza al Titular de los Datos Personales el derecho a obtener la rectificación, actualización y, cuando corresponda, la supresión de los datos personales de los que sea titular. Este derecho se podrán ejercer a través de un correo electrónico dirigido a info@mapainversionesdo.gob.do con el asunto “Informar”, “Rectificar”, “Suprimir” y/o “Actualizar” según corresponda, conjuntamente con el objeto del requerimiento.</p>
                <div class="clearfix py-3"></div>
                <h2 id="p6">6. Uso de herramientas de terceros</h2>
                <p>En la siguiente sección encontrarás todas las herramientas de terceros que La Secretaría de Finanzas utiliza:</p>
                <div class="row">
                    <!--DATOS GOOGLE Analytics-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title h3">Google Analytics</div>
                            <div class="card-subtitle mb-2">Este es un servicio de analítica web</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="h5">Empresa de procesamiento</span>
                                        <p>
                                            Google Ireland Limited<br />
                                            Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Finalidad de los datos</span>
                                        <p>
                                            Analítica Web
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Atributos de los datos</span>
                                        <ul>
                                            <li>Dirección IP (anonimizada)</li>
                                            <li>Información del navegador (tipo de navegador, páginas de referencia / salida, los archivos vistos en nuestro sitio, sistema operativo, sello de fecha / hora y / o datos de flujo de clics).</li>
                                            <li>Datos de uso (vistas, clics)</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Datos recopilados</span>
                                        <p>Esta lista representa todos los datos (personales) que se recopilan por o a través el uso de este servicio.</p>
                                        <ul>
                                            <li>Dirección IP</li>
                                            <li>Fecha y hora de visita</li>
                                            <li>Datos de uso</li>
                                            <li>Ruta de clic</li>
                                            <li>Actualizaciones de la aplicación</li>
                                            <li>Información del navegador</li>
                                            <li>Información del dispositivo</li>
                                            <li>Compatibilidad con JavaScript</li>
                                            <li>Páginas visitadas</li>
                                            <li>URL de referencia</li>
                                            <li>Descargas</li>
                                            <li>Información sobre la ubicación</li>
                                            <li>Interacciones de widgets</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Período de conservación</span>
                                        <p>Los datos se eliminarán tan pronto como ya no sean necesarios para los fines de procesamiento.</p>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank" rel="noopener">Más información y exclusión</a></span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://safety.google/privacy/privacy-controls/" target="_blank" rel="noopener">aquí</a> para desactivar este encargado en todos los dominios</span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener">aquí</a> para leer la política de privacidad del procesador de datos </span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://policies.google.com/technologies/cookies?hl=en" target="_blank" rel="noopener">Cookie Policy </a></span>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!--DATOS youtube-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title h3">YouTube Video</div>
                            <div class="card-subtitle mb-2">Este es un servicio de reproducción de video.</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="h5">Empresa de procesamiento</span>
                                        <p>
                                            Google Ireland Limited<br />
                                            Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Finalidad de los datos</span>
                                        <ul>
                                            <li>Mostrando vídeos</li>
                                            <li>Tecnologías utilizadas</li>
                                            <li>Cookies (si el "Modo de privacidad mejorada" no está activado)</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Atributos de los datos</span>
                                        <ul>
                                            <li>Referal URL</li>
                                            <li>Información si visitó el sitio antes</li>
                                            <li>Identificar si ha iniciado sesión en su cuenta de Google</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Datos recopilados</span>
                                        <p>Esta lista representa todos los datos (personales) que se recopilan por o a través el uso de este servicio.</p>
                                        <ul>
                                            <li>Dirección IP</li>
                                            <li>URL de referencia</li>
                                        </ul>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Más información y exclusión</span>
                                        <p>Haga clic <a href="https://safety.google/privacy/privacy-controls/" target="_blank" rel="noopener">aquí</a> para desactivar este encargado en todos los dominios </p>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5">Haga clic <a href="https://policies.google.com/privacy?hl=en">aquí</a> para leer la política de privacidad del procesador de datos </span>

                                    </li>
                                    <li class="list-group-item">
                                        <span class="h5"><a href="https://policies.google.com/technologies/cookies?hl=en" target="_blank" rel="noopener">Cookie Policy </a></span>

                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix py-3"></div>
                
            </div>


        </div>
    </div>
</section>


