@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Términos y Condiciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Términos y Condiciones</h1>
                    </div>
                    <div class="col-md-12 wrapDescIntro">
                        <p>
                            El mecanismo de participación ciudadana de MapaInversiones (Emergencias + Presupuesto)  permite a los ciudadanos interactuar con los responsables de la ejecución de los proyectos generando información valiosa para mejorar la eficiencia de la inversión pública. Los usuarios están obligados a hacer un uso adecuado y acorde con dicho objetivo.
                        </p>
                        <p>
                            Los términos y condiciones tienen por objeto establecer los criterios para participar a través de la plataforma MapaInversiones. Los usuarios en el momento de activar la cuenta aceptan las políticas que regulan la publicación de los comentarios y las fotografías, así como el manejo de datos personales.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>

<section class="acercaMIV-s2">
    <div class="WrapTermsConditions">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-justify">
                    <h2 class="text-left">
                        Administración de comentarios y fotografías de ciudadanos

                    </h2>
                    <p>
                        El Gobierno realizará la administración de opiniones, informaciones, comentarios o fotografías que los usuarios quieran incorporar a MapaInversiones. Quedan expresamente prohibidos los comentarios y fotografías que:
                    </p>
                    <ul>
                        <li>
                            Tengan contenidos que pueda ser considerados como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad de terceros o contra la dignidad de las personas.<br /><br />
                        </li>
                        <li>
                            Contengan imágenes o mensajes con lenguaje ofensivo.<br /><br />
                        </li>
                        <li>
                            Se refieran a temas, asuntos o discusiones diferentes de la información visualizada en MapaInversiones.<br /><br />
                        </li>
                        <li>
                            No sean claros y en el caso de las fotografías no cuenten con las condiciones de calidad para su adecuada visualización en MapaInversiones.<br /><br />
                        </li>
                        <li>
                            Tengan cualquier otro contenido ilícito y/o que contrarié la moral pública.<br /><br />
                        </li>
                    </ul>
                    <p>
                        Los comentarios y fotografías que incumplan estas condiciones no serán publicados en MapaInversiones. La no publicación será notificada al correo electrónico de la persona usuaria.
                    </p>
                    <p>
                        Cualquier información o material que los usuarios envíen o publiquen por medio de MapaInversiones será considerada como no confidencial. Queda prohibido la reproducción de imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos;  así como fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares. En caso de incumplimiento es responsabilidad exclusiva de los usuarios, por lo que el Gobierno y el BID no asumen responsabilidad alguna.
                    </p>
                </div>
                <div class="col-md-6 text-justify">
                    <h2 class="text-left">Manejo de datos </h2>
                    <p>
                        Para participar el usuario deberá registrarse y proporcionar previamente los datos requeridos en el formulario y aceptar los términos y condiciones. Estos datos serán tratados de acuerdo con la siguiente descripción:
                    </p>
                    <ul>
                        <li>
                            Finalidad del tratamiento: El objetivo de los datos es habilitar a las personas para que participan activamente en MapaInversiones, para uso estadístico de los resultados derivados de los procesos de participación ciudadana, así como para el envío de correos electrónicos de información.<br /><br />
                        </li>
                        <li>
                            MapaInversiones no comparte ni revela los datos de los usuarios, excepto cuando haya sido autorizada por el mismo o cuando así lo establezca la Ley de Protección de Datos Personales Núm.  172-13. <br /><br />
                        </li>
                        <li>
                            No serán válidos para participar dentro de la plataforma los formularios de registro que se encuentren incompletos. Es requisito para participar que todos y cada uno de los datos indicados sean verdaderos, exactos, vigentes y auténticos.<br /><br />
                        </li>
                        <li>
                            El proceso de solicitud de información se realizará bajo el amparo de la Ley de Acceso a la información Pública Número 200-04.<br /><br />
                        </li>
                        <li>
                            Se garantiza al Titular de los Datos Personales el derecho a obtener la rectificación, actualización y, cuando corresponda, la supresión de los datos personales de los que sea titular. Este derecho se podrán ejercer a través de un correo electrónico dirigido a <a href="mailto:info@mapainversionesdo.gob.do">info@mapainversionesdo.gob.do</a> con el asunto “Informar”, “Rectificar”, “Suprimir” y/o “Actualizar” según corresponda, conjuntamente con el objeto del requerimiento.<br /><br />
                        </li>
                    </ul>


                </div>
                <div class="col-md-12">
                    <p class="blueBorderbox mt25 text-center">
                        El Gobierno y el BID se reservan el derecho de revisar o modificar los presentes términos y condiciones en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando la plataforma web MapaInversiones, se entenderán aceptadas las modificaciones introducidas.
                    </p>

                </div>


            </div>
        </div>

    </div>
</section>
