@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Términos y Condiciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Términos y Condiciones</h1>
                    </div>
                    <!--<div class="banner-main-desc">

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content politicas">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <p>
                    La información suministrada a través de la plataforma de la Secretaría de Finanzas “Honduras Inversiones” (https://www.hondurasinversiones.gob.hn) será clara, comprensible, concreta, íntegra y adecuada a la información solicitada. La Secretaría de Finanzas, desarrollará los esfuerzos precisos para evitar errores y, en su caso, repararlos o actualizarlos lo antes posible, no pudiendo garantizar su inexistencia ni que el contenido de la información se encuentre permanentemente actualizado.
                </p>
                <p>La Secretaría de Finanzas, en coordinación con el Banco Interamericano de Desarrollo, podrá efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones sobre la información contenida en su portal o en su configuración o presentación.</p>
                <p>El acceso a la plataforma <a href="https://www.hondurasinversiones.gob.hn">www.hondurasinversiones.gob.hn</a>, así como el uso que pueda hacerse de la información que contiene, son de la exclusiva responsabilidad del usuario. La Secretaría de Finanzas y el Banco Interamericano de Desarrollo no se responsabilizarán de ninguna consecuencia, daño o perjuicio que pudieran derivarse de este acceso o uso de información, con excepción de todas aquellas actuaciones que resulten de la aplicación de las disposiciones legales a las que deba someterse el estricto ejercicio de sus competencias.</p>
                <p>La información proporcionada a través de la plataforma “HondurasInversiones”, mediante respuesta a la consulta de expedientes o derivada de cualquier base de datos tiene carácter meramente orientativo y en ningún caso podrá ser vinculante para la resolución de los procedimientos administrativos, que se hallará sujeta exclusivamente a la normativa que les sea de aplicación.</p>
                <p>En la plataforma “Honduras Inversiones” se han incluido enlaces a páginas de sitios Web de terceros (“links”), la mayor parte a páginas de Internet de otras Administraciones Públicas, que se han considerado de interés para los usuarios. No obstante, la Secretaría de Finanzas y el Banco Interamericano de Desarrollo no asumen ninguna responsabilidad derivada de la conexión o contenidos de los enlaces de terceros a los que se hace referencia en la plataforma.</p>
                <p>Deberá tener en cuenta que el contenido (documentos, leyes, reglamentos, noticias, informes o cualquier otro tipo de información) de nuestra página puede haber sido modificado con el propósito de facilitar su presentación en este medio (la Internet). De existir alguna discrepancia entre el documento original y el contenido de la página, prevalecerá el documento original que obra en los archivos de las Direcciones encargadas.</p>
                <p>
                    El acceso a y/o uso de la plataforma “Honduras Inversiones” de la Secretaría de Finanzas (www.hondurasinversiones.gob.hn) requiere que todos los visitantes al mismo se adhieran a los Términos y Condiciones y la Política de Privacidad, aceptándolos, desde ese momento, plenamente y sin reserva alguna, así como en su caso, las Condiciones Particulares que en el futuro puedan complementarlas, sustituirlas o modificarlas en algún sentido en relación con los servicios y contenidos de la Plataforma. Por el solo hecho de ingresar y hacer uso de esta plataforma, usted (el "Usuario") se adhiere en forma inmediata a todos y cada uno de los siguientes Términos y Condiciones. En consecuencia, el Usuario deberá leer detenidamente los Términos y Condiciones, que pudieran dictarse, antes de acceder y/o utilizar cualquier servicio de la Plataforma bajo su entera responsabilidad. Es responsabilidad del usuario mantenerse informado acerca de la Política de Privacidad vigente cada vez que hace uso de esta plataforma.
                </p>
                <p>
                    La Secretaría de Finanzas puede revelar los datos personales si es requerido a hacerlo por mandato legal o por una orden judicial. Asimismo, puede revelar los datos personales si el usuario infringe las condiciones generales de uso que regulan el acceso y uso de los servicios y materiales ofrecidos, y en aquellos casos en que sea imprescindible para defender los derechos de la Secretaría de Finanzas, de otros usuarios o de terceros.
                </p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Prohibiciones </h2>
                <p>Se prohíbe cualquier acceso no autorizado, o el intento o acción directa o indirecta para modificar, borrar, alterar, penetrar, sustituir o eliminar los archivos, configuración, páginas, gráficas o contenido de los servicios de informática de la Secretaría de Finanzas. La Secretaría de Finanzas implantará los mecanismos de seguridad y vigilancia necesarios para la identificación de cualquier persona que incurra en estas conductas.</p>
                <p>Además, se tomarán todas las medidas que correspondan para lograr el arresto y convicción de la persona que intente o ejecute cualquier acto que afecte la seguridad o integridad de estos servicios.</p>
                <p>El uso de las páginas y servicios de informática la Secretaría de Finanzas estará sujeto a lo establecido en las leyes del Estado Hondureño.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <div class="py-5 soft-bg">
                    <h2>Datos de contacto</h2>
                    <p>Usted puede ponerse en contacto con nuestro responsable de protección de datos si tiene preguntas o inquietudes a la siguiente dirección:</p>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="material-icons md-24">pin_drop</i> Avenida Cervantes, Barrio El Jazmín, Centro Histórico Tegucigalpa, M.D.C.</li>
                            <li class="list-group-item"><i class="material-icons md-24">account_balance</i> Secretaria de Finanzas | Dirección de Transparencia</li>
                            <li class="list-group-item"><i class="material-icons md-24">perm_phone_msg</i> Teléfono: +504 2222-8449  |   Fax: +504 2238-7766</li>
                            <li class="list-group-item"><span class="material-icons md-24">mail</span> Correo Electrónico: <a href="mailto:transparencia@sefin.gob.hn">transparencia@sefin.gob.hn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--<section class="section section-light-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Visión incremental</h2>
                <p>Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. </p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">1</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">2</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 item">
                        <!-- Begin choose us item
                        <div class="advantages-item">
                            <div class="advantages-item-count">3</div>
                            <div class="advantages-item-info">
                                <h4 class="advantages-item-heading">Nombre de Fase</h4>
                                <div class="advantages-item-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div><!-- End choose us item
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>¿Cómo pueden participar los ciudadanos?</h2>
                <p>Nulla facilisi. Etiam at sapien id arcu rhoncus laoreet. Nulla non tristique urna. Vivamus finibus faucibus justo, mollis sodales eros varius sed. Suspendisse sapien sem, consectetur posuere venenatis eget, iaculis eget nisl. Quisque feugiat gravida lorem. Cras luctus sem sit amet diam tincidunt, vitae vulputate tellus rhoncus. Aliquam ac lacus iaculis, porttitor sem sed, dictum diam. Integer nibh purus, ultrices sed efficitur consectetur, porta ac nisl. Praesent iaculis faucibus ex. Nulla ultrices lacinia neque, eget molestie purus placerat id. Ut suscipit mauris in dui lobortis, ut varius nibh aliquet. Ut sollicitudin sollicitudin est, non tempus quam cursus sed. Sed mollis pulvinar lacus, a viverra felis tempor a. Vestibulum congue mollis felis nec pharetra. Nam a arcu sed neque iaculis hendrerit.</p>
            </div>
        </div>

    </div>
</section>-->
@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@

