@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***

<!--MAIN BANNER-->
<section class="banner-main-asc mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Términos y Condiciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                        <h1>Términos y Condiciones</h1>
                    </div>
                    <!--<div class="banner-main-desc">

    </div-->

                </div>

            </div>

        </div>
    </div>

</section>

<!--main content-->
<section class="section main-Content politicas">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-3">
                <p>
                    La información suministrada a través de la plataforma será clara, comprensible, concreta, íntegra y adecuada a la información solicitada. La Secretaría de Finanzas, desarrollará los esfuerzos precisos para evitar errores y, en su caso, repararlos o actualizarlos lo antes posible, no pudiendo garantizar su inexistencia ni que el contenido de la información se encuentre permanentemente actualizado.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-lg-8 mb-3">
                <h2>Prohibiciones </h2>
                <p>Se prohíbe cualquier acceso no autorizado, o el intento o acción directa o indirecta para modificar, borrar, alterar, penetrar, sustituir o eliminar los archivos, configuración, páginas, gráficas o contenido de los servicios de informática de la Secretaría de Finanzas. La Secretaría de Finanzas implantará los mecanismos de seguridad y vigilancia necesarios para la identificación de cualquier persona que incurra en estas conductas.</p>
                <p>Además, se tomarán todas las medidas que correspondan para lograr el arresto y convicción de la persona que intente o ejecute cualquier acto que afecte la seguridad o integridad de estos servicios.</p>
                <p>El uso de las páginas y servicios de informática la Secretaría de Finanzas estará sujeto a lo establecido en las leyes del Estado Hondureño.</p>
            </div>
            <div class="col-lg-8 mb-3">
                <div class="py-5 soft-bg">
                    <h2>Datos de contacto</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:</p>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="material-icons md-24">pin_drop</i>CALLE CON CARRERA</li>
                            <li class="list-group-item"><i class="material-icons md-24">account_balance</i> Secretaria de algo</li>
                            <li class="list-group-item"><i class="material-icons md-24">perm_phone_msg</i> Teléfono: +1 2222-555  |   Fax: +1 2222-5556</li>
                            <li class="list-group-item"><span class="material-icons md-24">mail</span> Correo Electrónico: <a href="mailto:alguein@dominio.com">alguein@dominio.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

