services:

  chatbot:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
      - ./.env:/app/.env:ro
    working_dir: /app
    ports:
      - "8000:8000"
    restart: on-failure
    env_file:
      - ./.env
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - USE_PGBOUNCER=${USE_PGBOUNCER:-0}
      - PGBOUNCER_HOST=${PGBOUNCER_HOST:-pgbouncer}
      - PGBOUNCER_PORT=${PGBOUNCER_PORT:-6432}
    networks:
      - chatbot_network
    depends_on:
      - pgbouncer
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G  # Se aumenta a 2GB de RAM
        reservations:
          cpus: '1'
          memory: 1G  # Se reserva al menos 1GB para estabilidad
  phoenix:
    image: arizephoenix/phoenix:latest
    ports:
      - "6006:6006"
    restart: always
    environment:
      - PHOENIX_SQL_DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/arize
    networks:
      - chatbot_network
    deploy:
      resources:
       limits:
          cpus: '2'
          memory: 500M
       reservations:
          cpus: '2'
          memory: 400M

  pgbouncer:
    build:
      context: .
      dockerfile: docker/pgbouncer/Dockerfile
    restart: unless-stopped
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - POSTGRES_UPSTREAM_HOST=${POSTGRES_UPSTREAM_HOST:-}
      - POSTGRES_UPSTREAM_PORT=${POSTGRES_UPSTREAM_PORT:-}
      - PGBOUNCER_PORT=${PGBOUNCER_PORT:-6432}
      - PGBOUNCER_POOL_MODE=${PGBOUNCER_POOL_MODE:-transaction}
      - PGBOUNCER_DEFAULT_POOL_SIZE=${PGBOUNCER_DEFAULT_POOL_SIZE:-20}
      - PGBOUNCER_RESERVE_POOL_SIZE=${PGBOUNCER_RESERVE_POOL_SIZE:-5}
      - PGBOUNCER_MAX_CLIENT_CONN=${PGBOUNCER_MAX_CLIENT_CONN:-200}
      - PGBOUNCER_IGNORE_STARTUP_PARAMETERS=${PGBOUNCER_IGNORE_STARTUP_PARAMETERS:-extra_float_digits}
      - PGBOUNCER_AUTH_TYPE=${PGBOUNCER_AUTH_TYPE:-plain}
      - PGBOUNCER_IDLE_TRANSACTION_TIMEOUT=${PGBOUNCER_IDLE_TRANSACTION_TIMEOUT:-30}
      - PGBOUNCER_SERVER_RESET_QUERY_ALWAYS=${PGBOUNCER_SERVER_RESET_QUERY_ALWAYS:-0}
    networks:
      - chatbot_network

networks:
  chatbot_network:
    driver: bridge
