@page
@model PlataformaTransparencia.Modulo.Principal.Views.Plan.PerfilProgramaModel
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***


<!--MAIN BANNER-->
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="#!">inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Plan nacional de desarrollo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Plan Nacional de Reducción de la pobreza</h2>
                        <h3>(JAJAPO)</h3>
                    </div>
                    <div class="row navs-shortcuts">

                        <div class="" id="navs-header">
                            <a class="btn-section" href="#!">
                                Plan:PND 2030
                            </a>
                            <a class="btn-section" href="#!">
                                Eje: 1
                            </a>
                            <a class="btn-section" href="#!">
                                Alcance: Nacional
                            </a>
                        </div>
                    </div>
                    <div class="banner-main-desc">
                        <p>Enmarcado dentro del PND Paraguay 2030 se ha concebido este plan con el objetivo de erradicar todas las formas de pobreza del país, con una implementación gradual que se prolongará hasta 2030.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row navs-shortcuts">
        <div class="" id="navs-header">
            <a class="btn-section" href="#!">
                JAJAPO en cifras
            </a>
            <a class="btn-section" href="#!">
                Entidades
            </a>
            <a class="btn-section" href="#!">
                Destinatarios
            </a>
            <a class="btn-section" href="#!">
                Marco normativo
            </a>
        </div>
    </div>

</section>
<!--main content-->
<section class="section main-Content">
    <div class="container">
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <main>
                    <div class="section-heading">
                        <section>
                            <div class="section-heading">
                                <h3>JAJAPO en cifras</h3>
                                <hr />
                            </div>
                        </section>
                        <figure class="min-width: 360px;max-width: 800px;margin: 1em auto;">
                            <div id="container"></div>
                            <p class="highcharts-description">
                            </p>
                        </figure>
                        <section>
                            <div class="section-heading">
                                <h3>Indicadores por sector</h3>
                                <hr />
                            </div>
                        </section>
                        <figure class="min-width: 360px;max-width: 800px;margin: 1em auto;">
                            <div id="container1"></div>
                            <p class="highcharts-description">
                                This demo shows a large data set visualized with a tree map.
                            </p>
                        </figure>
                        <section class="section programas">
                            <div class="section-heading">
                                <h3>Entidades</h3>
                                <hr />
                            </div>
                            
                        </section>
                        <section class="section programas">
                        </section>
                        
                    </div>
                </main>
            </div>
            <!--RIGHT COLUMN-->
            <div class="col-lg-4">
                <aside>
                    <!--LINKS OTRAS SECCIONES-->
                    <div class="card neutral-bg-box">
                        <h3 class="card-title">Participe en este plan</h3>
                        <div class="card-body">
                        </div>
                    </div>
                    <!--LINKS seccion infografia planificacion-->
                    <div class="card neutral-bg-box">
                        <div class="card-body text-center">
                            <a href="#!" class="p-5">
                                <h3>
                                    Más informaciones de este plan en:
                                </h3>
                                <h5>
                                    sembrandooportunidades.gov.py
                                </h5>
                            </a>
                        </div>
                    </div>
                    
                </aside>
            </div>
        </div>
    </div>
    <!--CONTACT US-->
    <!-- Call to action-->
    <section class="section-question">
        <div class="container">
            <div class="col-12 text-center">
                <hr />
                <h3>¿No has encontrado lo que estabas buscando?</h3>
                <div class="section-btns justify-content-center py-3">
                    <a href="#" class="btn btn-with-icon ripple">
                        <span>CONTACTANOS</span>
                        <span class="el-ripple-circle" style="left: 326.5px; top: 313px;"></span>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!--HELP CENTER SHORTCUT-->
    @*<div id="helpCenter"></div>*@

</section>

<script>
    window.onscroll = function () { myFunction() ***REMOVED***;

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
    ***REMOVED*** else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
    ***REMOVED***
***REMOVED***
</script>

@*Modulos para grafica dummy*@
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<script>
    Highcharts.chart('container1', {
        series: [{
            type: "treemap",
            data: [{
                name: 'A',
                value: 6,
                color: '#3F51B5'
          ***REMOVED*** {
                name: 'B',
                value: 6,
                color: '#2196F3'
          ***REMOVED*** {
                name: 'C',
                value: 4,
                color: '#009688'
          ***REMOVED*** {
                name: 'D',
                value: 3,
                color: '#4CAF50'
          ***REMOVED*** {
                name: 'E',
                value: 2,
                color: '#FF9800'
          ***REMOVED*** {
                name: 'F',
                value: 2,
                color: '#9C27B0'
          ***REMOVED*** {
                name: 'G',
                value: 1,
                color: '#607D8B'
        ***REMOVED***]
    ***REMOVED***],
        subtitle: {
            text: 'Click points to drill down. Source: https://www.highcharts.com/demo'
      ***REMOVED***
        title: {
            text: 'Highcharts Large tree map'
    ***REMOVED***
***REMOVED***);
</script>

<script>
    Highcharts.chart('container', {

        title: {
            text: 'Evolución'
      ***REMOVED***

        subtitle: {
            text: 'Source: dummy.com'
      ***REMOVED***

        yAxis: {
            title: {
                text: 'Número'
        ***REMOVED***
      ***REMOVED***

        xAxis: {
            accessibility: {
                rangeDescription: 'Range: 2010 to 2017'
        ***REMOVED***
      ***REMOVED***

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
      ***REMOVED***

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
              ***REMOVED***
                pointStart: 1997
        ***REMOVED***
      ***REMOVED***

        series: [{
            name: 'Pobreza moderada',
            data: [36.1, 37.3, 36.8, 49.7, 44.0, 41.3, 38.6, 43.7, 41.2, 37.9, 35.1, 34.7, 32.4, 26.9, 23.9, 24.5, 28.6]
      ***REMOVED*** {
            name: 'Pobreza extrema',
            data: [18.8, 17.7, 16.7, 24.4, 21.2, 18.3, 16.5, 23.7, 23.2, 19.0, 18.8, 19.4, 18.0, 13.8, 10.2, 10.1, 9.3]
    ***REMOVED***],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
              ***REMOVED***
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                ***REMOVED***
            ***REMOVED***
        ***REMOVED***]
    ***REMOVED***

***REMOVED***);
</script>





