@page
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--MAIN BANNER-->
<section class="banner-main-stp">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Planificación</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Proceso de la Planificación Nacional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-12">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h2>Proceso de la Planificación Nacional</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>La <b>STP</b> impulsa el proceso de la planificación en sus diferentes ámbitos junto con las instituciones del Estado integrando los lineamientos estratégicos establecidos en el Plan Nacional de Desarrollo, prioridades del Gobierno y Objetivos de Desarrollo Sostenible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#s0">
                <span class="ic-shortcut"><i class="material-icons md-24">view_column</i></span>
                <span class="text-btn">Etapas</span>
            </a>
            <a class="btn-section" href="#s1">
                <span class="ic-shortcut"><i class="material-icons md-24">grid_view</i></span>
                <span class="text-btn">Tipos de Planes</span>
            </a>
            <a class="btn-section" href="#s2">
                <span class="ic-shortcut"><i class="material-icons md-24">topic</i></span>
                <span class="text-btn">Plan Operativo Institucional</span>
            </a>

        </div>
    </div>

</section>

<section id="s0" class="section">
    <div class="container">
        <div class="section-heading heading-left">
            <div class="section-subheading">
                <p>La <b>Secretaría Técnica de Planificación del Desarrollo Económico y Social</b> establece el uso de esta metodología como un elemento clave para avanzar en la implementación y el cumplimiento de los ODS en función de las prioridades contempladas en el PND Paraguay 2030 actualizado. Esta metodología permitirá definir un conjunto de lineamientos estratégicos para el fortalecimiento de la planificación a nivel nacional y territorial.</p>
            </div>
        </div>
        <div class="section-heading heading-left">
            <h2 class="mb-3">Etapas de la planificación</h2>

            <div class="section-subheading"><p>Desde el mundo académico, la sociedad civil y la experiencia exitosa tanto pública como privada, nos permite afirmar y enunciar que la <strong>PLANIFICACIÓN</strong> debe establecerse como práctica común para transformar y construir nuevas realidades con la capacidad de alcanzar nuestros mayores objetivos, interpretando los intereses y demandas de la sociedad e incorporar las necesidades de las generaciones futuras.</p> </div>
        </div>
        <h2 class="text-center"></h2>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step1.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="news-item-date p1"><span class="Bignumber">1</span></div>
                        <div class="news-item-heading item-heading">
                            <h3 class="fontRed">Formulación</h3>
                        </div>
                        <div class="news-item-desc mb-3">
                            <p>
                               
                                La Secretaría Técnica de Planificación del Desarrollo Económico y Social (STP) es la instancia rectora de la planificación en Paraguay y se encarga de la coordinación de la formulación del Plan Nacional de Desarrollo. Esta etapa se materializa a través de un proceso consultivo con los Organismos y Entidades del Estado, el sector privado y la academia, para la definición de las metas del desarrollo para el país de manera participativa. El resultado de esta etapa es un acuerdo nacional de la visión país que representa la hoja de ruta de largo plazo.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step2.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="news-item-date p2"><span class="Bignumber">2</span></div>
                        <div class="news-item-heading item-heading">
                            <h3 class="fontSoftBlue">Implementación y Coordinación</h3>
                        </div>
                        <div class="news-item-desc">
                            <p>

                                La implementación del PND se lleva a cabo a través de la coordinación interinstitucional para la formulación de planes, programas y proyectos en el cual los ministerios, las secretarías y otras entidades públicas, deben elaborar planes sectoriales con base en los objetivos y ejes estratégicos propuestos en el Plan Nacional de Desarrollo, al respecto la STP establece los lineamientos para el proceso de gestión pública y orientación en la elaboración de los Planes Estratégicos Institucionales y de los Planes Operativos Institucionales, y en coordinación con el MH, la alineación con el Presupuesto General de la Nación (PGN). El PGN es finalmente aprobado por el Congreso y posteriormente ejecutado por los OEE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="news-item item-style">
                    <div class="news-item-img">
                        <img data-src="/img/step3.svg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="news-item-info">
                        <div class="news-item-date p3"><span class="Bignumber">3</span></div>
                        <div class="news-item-heading item-heading">
                            <h3 class="fontDarkBlue">Seguimiento y Evaluación</h3>
                        </div>
                        <div class="news-item-desc">
                            <p>
                                
                                El seguimiento y la evaluación son procesos permanentes en los que se deben considerar todos los niveles de la administración pública, involucrar los diversos estamentos organizacionales y geográficos. La STP, como órgano rector de los sistemas nacionales de planificación es el coordinador del seguimiento y evaluación del PND que será monitoreado en función de las metas establecidas a nivel nacional y territorial, a través de los indicadores y que, a su vez, se encuentran contemplados en los planes de Gobierno, los planes sectoriales, operativos, programas y proyectos implementados por los Organismos y Entidades del Estado.

                            </p>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <!--<div class="row gy-2">
               <div class="card Cred">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 ">
                        <div class="Bignumber text-center">
                            1
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="h5 fontRed"><strong>Formulación</strong></div>
                        <p>
                            La formulación del plan nacional se realiza por medio de un proceso de consulta y participación pública y privada
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="card CSoftBlue">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 fontSoftBlue">
                            <div class="Bignumber text-center">
                                2
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="h5 fontSoftBlue"><strong>Implementación y Coordinación</strong></div>
                            <p>
                                Se plantea un sistema de coordinación interinstitucional para la formulación de planes, programas y proyectos en el cual los ministerios, las secretarias y otras entidades públicas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card CDarkBlue">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 fontDarkBlue">
                                <div class="Bignumber text-center">
                                    3
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="h5 fontDarkBlue"><strong>Seguimiento y Evaluación</strong></div>
                                <p>
                                    Proceso de seguimiento y evaluación  a la implementación del PND a través del seguimiento en la ejecución del gasto, la medición de los físicos de los programas de inversión y el seguimiento a la producción de bienes y servicios por los Organismos y Entes del Estado
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>-->
    </div>
</section>
<section class="section planes-bg" id="s1">
    <div class="container">
        <div class="section-heading heading-left">
            <h2 class="mb-3">Tipos de planes vigentes de corto, mediano y largo plazo</h2>

            <p class="section-subheading"><p>La Secretaría Técnica de Planificación del Desarrollo Económico y Social es el órgano central de la planificación de carácter permanente que orienta el desarrollo de la economía nacional a través de un plan general en el que se determinan las metas y prioridades a corto, mediano y largo plazo, en ese sentido, la distribución de los recursos es coordinada conforme a los propósitos y objetivos de los programas de desarrollo establecidos.</p>
        </div>

        <!--NEW STRUCTURE-->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- CARD TIPO 1 -->
                <div class="services-image-item">
                    <div class="services-image-item-card services-image-item-card-front">
                        <div class="wrap-front-card">
                            <h3>Plan Nacional de Desarrollo (PND)</h3>
                            <p>
                                Documento estratégico que orienta la gestión estratégica de la Gestión Pública, a partir de diagnósticos a nivel general y sectorial; la visión de desarrollo; objetivos estratégicos y específicos; indicadores, metas y líneas de acción, con una perspectiva de largo plazo hacia el desarrollo sostenible. Facilita la coordinación de las acciones en las instancias sectoriales del Poder Ejecutivo, Legislativo y Judicial. Así como con diversos niveles de gobierno; la sociedad civil; el sector privado y la academia, de manera a acelerar el desarrollo sostenible del Paraguay.
                            </p>
                        </div>
                    </div>
                    <div class="services-image-item-card services-image-item-card-back">
                        <div class="services-image-item-card-left">
                            <h5>Procesos de elaboración</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel nacional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación nacional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico de desarrollo.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Nacional de Desarrollo</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                </ul>
                            </div>
                            <div class="viewMore">
                                <a class="btn btn-primary" href="/PND"><i class="material-icons md-24">add</i> Ver más</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CARD TYPE -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- CARD TIPO 2 -->
                <div class="services-image-item">
                    <div class="services-image-item-card services-image-item-card-front">
                        <div class="wrap-front-card">
                            <h3>Planes <br />Sectoriales</h3>
                            <p>
                                Los planes sectoriales son instrumentos de planificación derivados de los planes generales, que abordan una temática socialmente relevante y determinada, que vinculan el funcionamiento de diversas instituciones públicas, sociales y privadas. Deben contener la estimación de inversiones requeridas y ser elaborados por las instituciones gubernamentales responsables del sector. Pueden tener una temporalidad de mediano y largo plazo.
                            </p>
                        </div>
                    </div>
                    <div class="services-image-item-card services-image-item-card-back">
                        <div class="services-image-item-card-left">
                            <h5>Procesos de elaboración</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel sectorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación sectorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico del sector.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Sectorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                </ul>
                            </div>
                            <div class="viewMore">
                                <a class="btn btn-primary" href="/plansectorial"><i class="material-icons md-24">add</i> Ver más</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CARD TYPE -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- CARD TIPO 3 -->
                <div class="services-image-item">
                    <div class="services-image-item-card services-image-item-card-front">
                        <div class="wrap-front-card">
                            <h3>Planes de Desarrollo Territoriales</h3>
                            <p>
                                La planificación del desarrollo territorial se realiza considerando el desarrollo como un proceso de construcción participativa y dinámica, en el cual se entrelazan las dimensiones económica-productiva, político-institucional, social, cultural y ambiental de los territorios, en función de políticas públicas concertadas y del esfuerzo mancomunado entre las diversas organizaciones de la sociedad civil e instancias públicas y nacionales. Estos planes no solo buscan lograr una mejor calidad de vida para la comunidad local, sino también aportar al desarrollo del país mediante su vinculación al Plan Nacional de Desarrollo 2030.
                            </p>
                        </div>
                    </div>
                    <div class="services-image-item-card services-image-item-card-back">
                        <div class="services-image-item-card-left">
                            <h5>Procesos de elaboración</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel territorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación territorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico territorial.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación de los Planes de Desarrollo Municipales y Departamentales</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                </ul>
                            </div>
                            <div class="viewMore">
                                <a class="btn btn-primary" href="/PDT"><i class="material-icons md-24">add</i> Ver más</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CARD TYPE -->
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- CARD TIPO 4 -->
                <div class="services-image-item">
                    <div class="services-image-item-card services-image-item-card-front">
                        <div class="wrap-front-card">
                            <h3>Planes Estratégicos Institucionales (PEI)</h3>
                            <p>
                                Instrumento de diagnóstico, análisis, reflexión y toma de decisiones colectivas, en torno del quehacer actual y al camino que deben recorrer en el futuro las instituciones en el mediano plazo; permite situarla en términos de su ambiente determinando su misión, visión, valores, objetivos y estrategias, para lograr sus fines y propósitos.
                            </p>
                        </div>
                    </div>
                    <div class="services-image-item-card services-image-item-card-back">
                        <div class="services-image-item-card-left">
                            <h5>Procesos de elaboración</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Estratégico Institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                </ul>
                            </div>
                            <div class="viewMore">
                                <a class="btn btn-primary" href="/PEI"><i class="material-icons md-24">add</i> Ver más</a>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- END CARD TYPE -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- CARD TIPO 5-->
                <div class="services-image-item">
                    <div class="services-image-item-card services-image-item-card-front">
                        <div class="wrap-front-card">
                            <h3>Planes Operativos Institucionales (POI)</h3>
                            <p>
                                Instrumento de gestión que organiza los aspectos operativos de una institución, contiene información institucional, la fundamentación de los programas y la programación de las actividades que permitirán concretar las metas y los resultados que se han definido para un periodo fiscal (corto plazo).
                            </p>
                        </div>
                    </div>
                    <div class="services-image-item-card services-image-item-card-back">
                        <div class="services-image-item-card-left">
                            <h5>Procesos de elaboración</h5>
                            <div class="planInf">
                                <ul>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Operativo Institucional.</div></li>
                                    <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                </ul>
                            </div>
                            <div class="viewMore">
                                <a class="btn btn-primary" href="/POI"><i class="material-icons md-24">add</i> Ver más</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CARD TYPE -->
            </div>
        </div>
        <!--OLD STRUCTURE-->
        @*
        <div class="row g-2 justify-content-center">
            <div class="col-lg-6">
                <div class="cardR shadow border-0 minh-41">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <i class="material-icons md-48">fact_check</i>
                            </div>
                            <div class="col-lg-10">
                                <h4>Plan Nacional de Desarrollo</h4>
                                <p>
                                    Documento estratégico que orienta la gestión estratégica de la Gestión Pública, a partir de diagnósticos a nivel general y sectorial; la visión de desarrollo; objetivos estratégicos y específicos; indicadores, metas y líneas de acción, con una perspectiva de largo plazo hacia el desarrollo sostenible. Facilita la coordinación de las acciones en las instancias sectoriales del Poder Ejecutivo, Legislativo y Judicial. Así como con diversos niveles de gobierno; la sociedad civil; el sector privado y la academia, de manera a acelerar el desarrollo sostenible del Paraguay
                                </p>
                                <h5>Procesos de elaboración</h5>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel nacional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación nacional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico de desarrollo.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Nacional de Desarrollo</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardR shadow border-0 minh-41">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <i class="material-icons md-48">fact_check</i>
                            </div>
                            <div class="col-lg-10">
                                <h4>Planes Sectoriales</h4>
                                <p>
                                    Los planes sectoriales son instrumentos de planificación derivados de los planes generales, que abordan una temática socialmente relevante y determinada, que vinculan el funcionamiento de diversas instituciones públicas, sociales y privadas. Deben contener la estimación de inversiones requeridas y ser elaborados por las instituciones gubernamentales responsables del sector. Pueden tener una temporalidad de mediano y largo plazo.
                                </p>
                                <h5>Procesos de elaboración</h5>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel sectorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación sectorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico del sector.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Sectorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardR shadow border-0 minh-41">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <i class="material-icons md-48">fact_check</i>
                            </div>
                            <div class="col-lg-10">
                                <h4>Planes de Desarrollo Territoriales</h4>
                                <p>
                                    Documento que sintetiza las aspiraciones de la población de cada departamento y/o municipio para mejorar la calidad de vida de los mismos.
                                </p>
                                <h5>Procesos de elaboración</h5>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel territorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación territorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico territorial.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación de los Planes de Desarrollo Municipales y Departamentales</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardR shadow border-0 minh-41">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <i class="material-icons md-48">fact_check</i>
                            </div>
                            <div class="col-lg-10">
                                <h4>Planes Estratégicos Institucionales</h4>
                                <p>
                                    Instrumento de diagnóstico, análisis, reflexión y toma de decisiones colectivas, en torno del quehacer actual y al camino que deben recorrer en el futuro las instituciones en el mediano plazo; permite situarla en términos de su ambiente determinando su misión, visión, valores, objetivos y estrategias, para lograr sus fines y propósitos.
                                </p>
                                <h5>Procesos de elaboración</h5>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Estratégico Institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardR shadow border-0 minh-41">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <i class="material-icons md-48">fact_check</i>
                            </div>
                            <div class="col-lg-10">
                                <h4>Planes Operativos Institucionales</h4>
                                <p>
                                    Instrumento de gestión que organiza los aspectos operativos de una institución, contiene información institucional, la fundamentación de los programas y la programación de las actividades que permitirán concretar las metas y los resultados que se han definido para un periodo fiscal (corto plazo).
                                </p>
                                <h5>Procesos de elaboración</h5>
                                <div class="planInf">
                                    <ul>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de coordinación y organización del proceso a nivel institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Mecanismo de participación institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Diagnóstico institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Formulación del Plan Estratégico Institucional.</div></li>
                                        <li><i class="material-icons md-24">play_circle_outline</i><div> Presentación y aprobación.</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta py-5">
                    <a href="../PlanNacional" class="py-5 mb-5 px-0">
                        <div class="h3">El Plan Nacional de Desarollo (PND) <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>

                <!--LINKS seccion infografia planificacion-->

                <div class="wrap-cta py-5">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.stp.gov.py/v1/" target="_blank">
                        <img class="img-fluid" src="../img/Logostp.png" alt="ir a Secretaria tecnica de planeación" />
                    </a>
                </div>
            </div>
            <!--RIGHT COL-->
            <div class="col-lg-4">
                <h2>Explora</h2>
                <p>Entidades y sus planes operativos</p>
                <ul id="entidadesPlanNacional" class="list-group list-group-flush">
                </ul>

            </div>
        </div>

    </div>
</section>
<!--CONTACT US-->
<!-- Call to action-->
<div id="helpCenter"></div>
<script src="js/comunes_infografias.js"></script>
<script>
    $(document).ready(function () {
        obtListadoEntidades();
    });

    window.onscroll = function () { myFunction() };

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
        }
    }
</script>












