@page
@model PlataformaTransparencia.Modulo.Principal.Views.Plan.pruebaGraficaModel
<head>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <style>

        .node rect {
            cursor: move;
            fill-opacity: .8;
            shape-rendering: crispEdges;
    ***REMOVED***

        .node text {
            pointer-events: none;
            /*text-shadow: 0 1px 0 #fff;*/
    ***REMOVED***

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .1;
    ***REMOVED***

            .link:hover {
                stroke-opacity: .2;
        ***REMOVED***

        .arc text {
            font: 12px sans-serif;
            text-anchor: middle;
            font-weight: bold;
    ***REMOVED***

        .arc path {
            stroke: #fff;
    ***REMOVED***

        .toolTip {
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            box-shadow: -3px 3px 15px #888888;
            color: black;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
    ***REMOVED***
    </style>


</head>
<section class="section gray-bg" id="s1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Recursos asignados</h2>
                <p>
                    La gráfica nos muestra la interacción de los componentes del Plan Nacional de Desarrollo (PND), permitiendo determinar la orientación prioritaria del presupuesto público en función a la cantidad de entidades para cada objetivo estratégico y específico del Plan.

                    En esta versión permite visualizar la alineación entre planes operativos, presupuestos institucionales, y los objetivos nacionales al año 2030 que están definidos en el Plan Nacional de Desarrollo. En este panel vemos un resumen general de la planificación operativa desarrollada por 126 Entidades del Estado*, las cuales representan el 100% de las entidades pertenecientes a los tres Poderes del Estado y los Gobiernos Departamentales; hay 79 objetivos del Plan Nacional de Desarrollo con los cuales se alinean dichas Entidades, de un total de 83 objetivos que contiene el Plan al año 2030.

                    *Incluye 23 entidades de la Presidencia de la República.
                </p>
            </div>
            <div class="col-lg-8">
                <div class="d3plus_treemap_back" id="btnAtrasGrafica" style="display:none;">Atrás</div>
                <div nivel_ant=0 nivel=0 labelGroup='' label='' label_inf='' label_nivel4='' style="width:auto; height:600px!important; display:block;" id="divGraphRecursosObj"></div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="wrap_sankey">
            <div id="sankey_basic" style="width: 100%; height: auto;"></div>

        </div>


    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="wrap_sankey">
            <div id="sankey_basic_old" style="width: 100%; height: auto;"></div>

        </div>


    </div>

</div>
<div nivel_ant=0 nivel=0 labelGroup='' label='' label_inf='' label_nivel4='' style="width:auto; height:600px!important; display:block;" id="treemapEjemplo"></div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3plus@2"></script>
    <script src="js/sankey.js"></script>
    <script src="js/home_aux.js"></script>
***REMOVED***



